.action-select {
  @include cf();

  &__list {
    margin: 0 0 40px 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0 0 10px 0;
    padding: 0;
    display: block;

    @include mq($from: m) {
      display: table;
    }
  }

  &__logo {
    width: 100px;
    height: 80px;
    display: block;
    background-color: #a8a8a8;
    text-align: center;
    padding-top: 30px;

    @include mq($from: m) {
      display: table-cell;
    }
  }

  &__summary {
    display: block;
    vertical-align: top;
    margin-top: 10px;

    @include mq($from: m) {
      display: table-cell;
      padding-left: 20px;
      margin-top: 0;
    }
  }

  &__name {
    margin-top: 0;
  }

  &__description {

  }

}
