.action-select {
  @include cf();

  &__list {
    margin: 20px 0 40px 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0 0 10px 0;
    display: block;
    background-color: $brand-e;
    padding: 30px 15px;
    border-radius: 5px;

    @include mq($from: m) {
      display: table;
      width: 100%;
      padding: 0;
    }

    &--step2 {
      background-color: transparent;
      margin-bottom: 0px;

      @include mq($from: m) {
        text-align: left;
      }
    }
  }

  &__btn {
    margin: 0;
    width: 100%;
    text-align: center;

    @include mq($from: m) {
      text-align: left;
    }
  }

  &__logo {
    width: 120px;
    height: 80px;
    display: inline-block;
    background-color: #a8a8a8;
    color: $brand-m;
    text-align: center;
    padding-top: 30px;

    @include mq($from: m) {
      display: table-cell;
      padding-top: 60px;
      border-radius: 5px 0 0 5px;
    }
  }

  &__summary {
    display: block;
    vertical-align: top;
    margin-top: 10px;
    text-align: left;

    @include mq($from: m) {
      display: table-cell;
      margin-top: 0;
      padding: 30px;

      .action-select__item--step2 & {
        padding: 0;
      }
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    color: $brand-h !important;

    .action-select__item--step2 & {
      color: #fff !important;
    }
  }

  &__synopsis {
    color: $brand-m;
  }

  &__description {
    text-align: left;
    margin: 20px 0;
    color: $brand-m;

    .pledge-section--2 & {
      color: #fff!important;
    }
  }

  &__news-link {
    margin-bottom: 40px;
    color: $brand-h!important;
  }

  &__detail {
    text-align: left;
  }
}
