.action-select {
  @include cf();

  &__list {
    margin: 20px 0 40px 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0 0 10px 0;
    display: block;
    background: $brand-e;
    padding: 30px 15px;
    border-radius: 5px;

    @include mq($from: m) {
      display: table;
      width: 100%;
      text-align: left;
      padding: 0;
    }
  }

  &__logo {
    width: 120px;
    height: 80px;
    display: inline-block;
    background-color: #a8a8a8;
    color: $brand-m;
    text-align: center;
    padding-top: 60px;
    border-radius: 5px 0 0 5px;    

    @include mq($from: m) {
      display: table-cell;
    }
  }

  &__summary {
    display: block;
    vertical-align: top;
    margin-top: 10px;

    @include mq($from: m) {
      display: table-cell;
      margin-top: 0;
      padding: 30px;
    }
  }

  &__name {
    margin-top: 0;
    color: $brand-h !important;
  }

  &__description {
    color: $brand-m;
  }

}
