.block {
  @include cf();
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq($from: m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Components
  &__header {
    text-align: center;
    margin: 0;
  }

  &__sub-header {
    text-align: center;
    margin: 0;
    color: $brand-d;
  }

  &__content {
    @include cf();

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .btn {
        margin-bottom: 0;
      }
    }

    a {
      color: $brand-c;
      font-family: $font-headline;
      font-weight: $font-headline-weight;
      text-decoration: none;
    }

    .h1,
    .h2 {
      color: $brand-h;
    }
  }

  &__cta {
    @include cf();
    padding: 10px 0 0 0;

    &--incopy {
      padding-bottom: 20px;

      @include mq($from: m) {
        padding-bottom: 40px;
      }
    }

    &--3 {
      @include mq($from: xs) {
        .cta:last-of-type {
          @include span(4 of $grid-column);  // Reset last style
          @include push(2 of $grid-column);
        }
      }

      @include mq($from: m) {
        .cta:first-of-type {
          @include push(1 of $grid-column);
        }

        .cta:last-of-type {
          @include span(2 of $grid-column);  // Reset last style
          @include push(0 of $grid-column); // Reset push style
        }
      }
    }
  }

  &__primary {
    background-color: $brand-h;
    padding: 30px 0;
  }

  &__secondary {
    background-color: $brand-n;
    padding: 30px 0;
  }

  // Variants
  &--breadcrumbs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: $brand-h;
  }

  &--header {
    background-image: url('../img/header-background.png');
    background-repeat: repeat;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;

    @include mq($from: m) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &--highlight {
    background: linear-gradient($brand-b, $brand-c);
    color: #fff;

    .h1,
    .h2 {
      color: #fff;
    }
  }

  &--promo {
    @include mq($from: l) {
      text-align: center;
    }
  }

  &--pullout {
    color: #fff;

    .h1,
    .h2,
    .h3,
    p {
      margin: 0;
    }
  }

  &--priority {
    position: relative;
    z-index: 10;
  }

  &--pullup {
    @include mq($from: xl) {
      margin-top: -120px;
      padding: 60px 0 40px 0;
    }
  }

  &--superhero {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -120px;
    overflow: hidden;
    width: 100%;

    @include mq($from: l) {
      margin-top: 0px;

      .block__content {
        margin-top: 40px;
    		margin-bottom: 40px;
    	}
    }
  }
}
