/* Charter specific block variants */
.block {
  &--pullout {
    color: #fff;
    padding-bottom: 0 !important;

    .h1,
    .h2,
    .h3,
    p {
      margin: 0;
    }
  }

  &--priority {
    position: relative;
    z-index: 10;
  }

  &--pullup {
    @include mq($from: xl) {
      margin-top: -120px;
      padding: 60px 0 40px 0;
    }
  }

  &--superhero {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -120px;
    overflow: hidden;
    width: 100%;

    @include mq($from: l) {
      margin-top: 0px;

      .block__content {
        margin-top: 40px;
    		margin-bottom: 40px;
    	}
    }
  }
}
