.charter-intro {
  text-align: center;

  .line-break {
    display: none;

    @include mq($from: m) {
      display: block;
    }
  }

  @include mq($from: xs) {
    .cta:last-of-type {
      @include push(2 of $grid-column);
    }
  }

  @include mq($from: m) {
    .cta:first-of-type {
      @include push(1 of $grid-column);
    }

    .cta:last-of-type {
      @include push(0 of $grid-column);
    }
  }
}
