.charter-intro {
  text-align: center;

  @include mq($from: xs) {
    .btn:last-of-type {
      @include push(2 of $grid-column);
    }
  }

  @include mq($from: m) {
    .btn:first-of-type {
      @include push(1 of $grid-column);
    }

    .btn:last-of-type {
      margin-left: 0;
    }
  }

  @include mq($from: l) {
    .btn:first-of-type {
      .btn__text {
        line-height: 2.4;
      }
    }
  }
}
