.pledge {
  @include cf();
  text-align: center;

  &__inner {
    @include mq($from: m) {
      @include span(6 of $grid-column);
      @include push(1 of $grid-column);
    }
  }

  &__highlight {
    margin-bottom: 20px;
    padding: 20px 0;
    color: $brand-m;
    background-color: $brand-e;
    border-radius: 5px;
  }

  &__copy {  
    display: block;


    &--inline {
      display: inline;
    }
  }

  &__accordion {
    .accordion__header {
      border-bottom: 0;
      margin-bottom: 5px;
    }

    .accordion__item {
      text-align: left;
      color: $brand-m;
    }
  }
}
