.pledge-form {
  @include cf();

  @include mq($from: m) {
    width: 80%;
  }

  &__label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 160px;

    @include mq($from: m) {
      display: inline-block;
      width: 200px;
    }

    &--large {
      @include mq($from: m) {
        width: 380px;
      }
    }
  }

  &__input {
    padding: 5px;
    display: block;

    &--inline {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;

      @include mq($from: m) {
        display: inline;
        width: 200px;
        margin-top: 0;
        vertical-align: top;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 140px;
    display: block;
    margin-bottom: 20px;
    resize: none;
    border: 0;
    padding: 10px 10px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0 0 5px 0;
    padding: 0;
  }

  &__btn {
    font-family: $font-primary;
    font-weight: $font-primary-weight;
    border: 1px solid #a1a1a1;
    background: #f5f5f5;
    color: #111;
    padding: 4px 8px;
    margin: 20px 0;
    text-align: left;
  }
}
