.pledge-select {
  @include cf();

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 0 0 10px 0;
    padding: 0;
  }

  &__btn {
    text-align: left;    
  }
}
