.pledge {
  @include cf();
  text-align: center;
  position: relative;

  &__inner {
    @include mq($from: m) {
      @include span(6 of $grid-column);
      @include push(1 of $grid-column);
    }
  }

  &__highlight {
    margin-bottom: 20px;
    padding: 20px 0;
    color: $brand-m;
    background-color: $brand-e;
    border-radius: 5px;
  }

  &__copy {
    display: block;


    &--inline {
      display: inline;
    }
  }

  &__accordion {
    .accordion__header {
      border-bottom: 0;
      margin-bottom: 5px;
    }

    .accordion__item {
      text-align: left;
      color: $brand-m;
    }
  }

  &__social {
    margin: 40px 0;

    a {
      color: #fff;
    }
  }

  &__cta {
    position: relative;
    height: 250px;

    .cta {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

  }
}
