.pledge-form {
  @include cf();

  &__label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  &__input-field {
    display: block;
    position: relative;

    &--inline {
      width: 100%;
      margin: 10px 0px;
      display: block;

      @include mq($from: m) {
        display: inline;
        width: 200px;
        margin-top: 0;
      }
    }
  }

  &__back-button {
    float: right;
    padding-bottom: 20px;
  }

  &__input {
    padding: 5px;
    display: block;
    appearance: none;
    border: 0;
    outline: none;
    border: 1px solid $brand-f;
    border-radius: 5px;
    padding: 10px;
    color: $brand-m;

    .pledge-form__item & {
      width: 100%;
    }

    &--inline {
      width: 100%;
      margin: 10px 0px;
      display: block;

      @include mq($from: m) {
        display: inline;
        width: 200px;
        margin-top: 0;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 140px;
    display: block;
    margin-bottom: 20px;
    resize: none;
    appearance: none;
    border: 0;
    outline: none;
    border: 1px solid $brand-f;
    border-radius: 5px;
    padding: 10px;
    color: $brand-m;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;

    @include mq($from: m) {
      @include span(4 of 6);
      @include push(1 of 6);
    }
  }

  &__item {
    margin: 30px 0 30px 0;
    padding: 0;

    .pledge__copy {
      margin-top: 10px;
    }

    &--checkbox {
      @include cf();
      position: relative;

      .pledge-form__checkbox {
        position: absolute;
        top: 4px;
        left: 0;
      }

      .pledge-form__label {
        padding-left: 30px;
      }
    }
  }

  &__next {
    text-align: center;
  }

  .form__input--error {
    border: 1px solid $brand-g;
    margin-top: 25px;
  }

  .form__error {
    display: block;
    color: $brand-i;
    margin-bottom: 10px;
    font-family: $font-headline;
    font-weight: $font-headline-weight;
  }
  .pledge__highlight .form__error {
    color: $brand-g;
    @include mq($from: m) {
      top: -2.1em;
    }
  }

  &__input + .form__error,
  &__input--inline + .form__error,
  &__textarea + .form__error {
    position: absolute;
    right: 2px;
    top: -1.4em;
    @extend .small;
  }
}
