.pledge-select {
  @include cf();
}

.pledge-select__list {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.pledge-select__item {
  margin: 0 0 10px 0;
  padding: 0;
}

.pledge-select__link {
  display: block;
  padding: 5px 0;
}
