.svg-accomodation-dims {
	width: 289px;
	height: 206.827px;
}

.svg-appstore-lrg-dims {
	width: 135px;
	height: 40px;
}

.svg-big-change-dims {
	width: 240px;
	height: 171.8px;
}

.svg-close-dims {
	width: 25.7px;
	height: 26.4px;
}

.svg-communications-dims {
	width: 289px;
	height: 206.827px;
}

.svg-donate-dims {
	width: 289px;
	height: 206.3px;
}

.svg-download-dims {
	width: 52px;
	height: 52px;
}

.svg-downloadAlt-dims {
	width: 52px;
	height: 52px;
}

.svg-dropin-dims {
	width: 289px;
	height: 206.827px;
}

.svg-facebook-dims {
	width: 34px;
	height: 34px;
}

.svg-facebook-alt-dims {
	width: 34.02px;
	height: 34.02px;
}

.svg-findhelp-dims {
	width: 289px;
	height: 206.827px;
}

.svg-foodbank-dims {
	width: 289px;
	height: 206.827px;
}

.svg-give-dims {
	width: 289px;
	height: 206.8px;
}

.svg-givehelp-dims {
	width: 289px;
	height: 206.327px;
}

.svg-items-dims {
	width: 289px;
	height: 206.827px;
}

.svg-join-dims {
	width: 289px;
	height: 206.8px;
}

.svg-logo-dims {
	width: 52.4px;
	height: 55.7px;
}

.svg-meals-dims {
	width: 289px;
	height: 206.827px;
}

.svg-medical-dims {
	width: 289px;
	height: 206.827px;
}

.svg-meetinghall-dims {
	width: 2000px;
	height: 2000px;
}

.svg-minus-dims {
	width: 33.417px;
	height: 33.917px;
}

.svg-nav-dims {
	width: 512px;
	height: 512px;
}

.svg-partnershipLogo-dims {
	width: 319.73px;
	height: 351.46px;
}

.svg-partnerships-dims {
	width: 289px;
	height: 206.7px;
}

.svg-pledge-dims {
	width: 166.33px;
	height: 156.25px;
}

.svg-plus-dims {
	width: 33.417px;
	height: 33.917px;
}

.svg-print-dims {
	width: 52px;
	height: 52px;
}

.svg-read-dims {
	width: 289px;
	height: 206.8px;
}

.svg-services-dims {
	width: 289px;
	height: 206.827px;
}

.svg-support-dims {
	width: 289px;
	height: 206.827px;
}

.svg-training-dims {
	width: 289px;
	height: 206.827px;
}

.svg-twitter-dims {
	width: 34px;
	height: 34px;
}

.svg-twitter-alt-dims {
	width: 34.02px;
	height: 34.02px;
}

.svg-volunteer-dims {
	width: 289px;
	height: 206.327px;
}

