---
title: Pledge your Support
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center"><img class="ADDCLASS" data-src="holder.js/400x120?text=Charter Logo" /><span class="hide-screen">Manchester Homelessness Charter</span></h1>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Pledge your Support</li>
        </ol>
      </div>

      <h2 class="h2">Pledge... tba</h2>
    </div>
  </div>
</div>
