---
title: Pledge your Support to the Manchester Homelessness Charter
description: Pledge to take action to help end homelessness in Manchester
layout: default.hbs
permalink: false
appName: pledgeYourSupport
section: charter
page: pledgeyoursupport
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Pledge your Support</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Pledge your Support</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <p>Organisation, business or individual? Everyone can make a difference to homelessness in Manchester.</p>
      <p>You can show your dedication to the Charter by making a pledge to offer your skills and resources to benefit people experiencing homelessness.</p>

      {{> divider}}

      <p>Make your pledge by completing the form - you can either write your own pledge, or pick one of the examples. Once you’ve made your pledge, we will look to help you put it into action.</p>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">
      <div class="pledge js-pledge">
        {{> loading-anim }}
        <div class="pledge__inner">
          <!-- ko ifnot: section4.isActive() -->
          <h2 class="h1">Make a Pledge</h2>
          <div class="step">
            <ol class="step__list">
              <li class="step__item" data-bind="css: { active: section1.isActive() }"><a href="#" data-bind="click: setSection1Active">1</a></li>
              <li class="step__item" data-bind="css: { active: section2.isActive() }">2</li>
            </ol>
          </div>
          <!-- /ko -->
          <form action="" class="pledge-form js-pledge-form">
            <div class="pledge-section pledge-section--1" data-bind="css: { active: section1.isActive() }">
              <!-- ko template: { name: 'step-1' } --><!-- /ko -->
            </div>
            <div class="pledge-section pledge-section--2" data-bind="css: { active: section2.isActive() }, with: formModel">
              <!-- ko template: { name: 'step-2' } --><!-- /ko -->
            </div>
          </form>
        </div>

        <div class="pledge-section pledge-section--3" data-bind="css: { active: section4.isActive() }">
          <h2 class="h1">Thank you for making a pledge.</h2>
          <p>We will be in touch shortly about your pledge. If we can support you in achieving your pledge then please let us know. In the meantime, please share the charter with your networks, so that together we can End Homelessness in Manchester!</p>

          <div class="charter-social">
            <ul class="charter-social__list charter-social__list--pledge">
              <li class="charter-social__item">
                <a href="/manchester-homelessness-charter.pdf" target="_blank" rel="noopener noreferrer">
                  {{>icon name="download" class="charter-social__icon charter-social__icon--download" }}
                </a>
                <h3 class="charter-social__title">Download</h3>
              </li>
              <li class="charter-social__item charter-social__item--share">
                {{> facebook urlToShare="https://charter.streetsupport.net/read-the-charter/" pageTitle="Read the Manchester Homelessness Charter" pageDescription="Read the Manchester Homelessness Charter - a vision to end homelessness in Manchester." }}
                {{> twitter urlToShare="https://charter.streetsupport.net/read-the-charter/" tweet="Read how Manchester is working together to end homelessness with the Homelessness Charter." }}
                <h3 class="charter-social__title">Share</h3>
              </li>
            </ul>
          </div>

          <p>Now you have made a pledge, find out more about the teams being formed to tackle key issues.</p>

          <div class="block__cta pledge__cta">
            {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Working together</h2>
      <p>Thank you to all the organisations and companies who have already pledged their support to the Manchester Homelessness Charter.</p>
      <!--Link to charter news page -->
    </div>
  </div>
</div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Other ways to help</h2>
      <p>Making a pledge is only one way you can support people who are homeless.  You can join an action group, or explore the other ways you can tackle homelessness in our city:</p>

      <div class="block__cta">
        {{>cta brand="e" link="https://streetsupport.net/give-help/give-items/" icon="give" name="Give"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/volunteer/" icon="volunteer" name="Volunteer"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/donate/" icon="donate" name="Donate"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/sponsor/" icon="partnerships" name="Partnerships"}}
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="step-1">
  <div class="pledge__highlight" data-bind="with: formModel">
    <span class="h3 pledge__copy--inline">I</span>
    <div class="pledge-form__input-field pledge-form__input-field--inline">
      <label class="pledge-form__label hide-screen" for="firstName">First Name</label>
      <input class="pledge-form__input pledge-form__input--inline" type="text" id="firstName" name="firstName" placeholder="First Name" data-bind="textInput: firstName"></input>
    </div>
    <div class="pledge-form__input-field pledge-form__input-field--inline">
      <label class="pledge-form__label hide-screen" for="lastName">Last Name</label>
      <input class="pledge-form__input pledge-form__input--inline" type="text" id="lastName" name="lastName" placeholder="Last Name" data-bind="textInput: lastName"></input>
    </div>
    <span class="pledge__copy">pledge to support the Manchester Homelessness Charter.</span>
  </div>
  <h3 class="h3">Please select the option that best describes you:</h3>
  <div class="accordion pledge__accordion js-accordion" data-bind="foreach: supporterCategories">
    <button class="h3 accordion__header js-header">
      <span data-bind="text: name"></span>
      <svg class="svg-plus-dims accordion__icon accordion__icon--open"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use></svg>
      <svg class="svg-minus-dims accordion__icon accordion__icon--close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use></svg>
    </button>
    <div class="accordion__item js-item">
      <div class="accordion__inner">
        <div class="pledge-select">
          <h3 class="h3">My pledge is to...</h3>
          <label class="pledge-form__label hide-screen" for="customtype">Your pledge</label>
          <textarea class="pledge-form__textarea" placeholder="Write your own pledge" data-bind="textInput: customPledge"></textarea>
          <div class="pledge-form__next">
            <button class="btn btn--brand-e" data-bind="click: useCustomPledge">
              <span class="btn__text">Make your pledge</span>
            </button>
          </div>

          <h3 class="h3">Or select a pledge from the list below:</h3>
          <ul class="pledge-select__list" data-bind="foreach: examplePledges">
            <li class="pledge-select__item">
              <a href="#" data-bind="text: description, click: selectExamplePledge"></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="step-2">
  <!-- ko if $parent.formIsSubmitting() -->
  <h3 class="h3">Confirm your pledge by completing your contact details (you can also edit your pledge):</h3>
  <div class="pledge__highlight">
    <span class="h3 pledge__copy--inline">I</span>
    <label class="pledge-form__label hide-screen" for="firstName">First Name *</label>
    <div class="pledge-form__input-field pledge-form__input-field--inline">
      <input class="pledge-form__input pledge-form__input--inline" type="text" id="firstName" name="firstName" placeholder="First Name *" data-bind="textInput: firstName"></input>
    </div>
    <label class="pledge-form__label hide-screen" for="lastName">Last Name *</label>
    <div class="pledge-form__input-field pledge-form__input-field--inline">
      <input class="pledge-form__input pledge-form__input--inline" type="text" id="lastName" name="lastName" placeholder="Last Name *" data-bind="textInput: lastName"></input>
    </div>
    <span class="pledge__copy">pledge to support the Manchester Homelessness Charter. I pledge to...</span>
  </div>

  <div class="pledge-form__input-field">
    <textarea class="pledge-form__textarea" id="pledge" name="pledge" data-bind="textInput: pledge"></textarea>
    <a class="small pledge-form__back-button" data-bind="click: $parent.setSection1Active">< Select a different pledge</a>
  </div>

  <ul class="pledge-form__list">
    <li class="pledge-form__item">
      <label class="pledge-form__label hide-screen" for="organisation">Organisation/Business Name (if applicable)</label>
      <input class="pledge-form__input" type="text" id="organisation" name="organisation" placeholder="Organisation/Business Name (if applicable)" data-bind="textInput: organisation"></input>
    </li>
    <li class="pledge-form__item">
      <label class="pledge-form__label hide-screen" for="email">Email Address *</label>
      <div class="pledge-form__input-field">
        <input class="pledge-form__input" type="text" id="email" name="email" placeholder="Email Address *" data-bind="textInput: email"></input>
      </div>
      <span class="pledge__copy small">(Street Support will never share your email with a 3rd party.)</span>
    </li>
    <li class="pledge-form__item">
      <label class="pledge-form__label hide-screen" for="postcode">Your Postcode</label>
      <input class="pledge-form__input" type="text" id="postcode" name="postcode" placeholder="Your postcode" data-bind="textInput: postcode"></input>
    </li>
    <li class="pledge-form__item pledge-form__item--checkbox">
      <input class="pledge-form__checkbox" type="checkbox" name="subscribe" data-bind="checked: isOptedIn">
      <label class="pledge-form__label" for="subscribe">Select to receive email updates from Street Support about homelessness and the Charter</label>
    </li>
    <li class="pledge-form__item pledge-form__item--checkbox">
      <input class="pledge-form__checkbox" type="checkbox" name="isAnonymousPledge" data-bind="checked: isAnonymousPledge">
      <label class="pledge-form__label" for="isAnonymousPledge">Select to hide your Pledge</label>
    </li>
  </ul>

  <div class="pledge-form__next">
    <button class="btn btn--brand-e" data-bind="click: $parent.submitPledge">
      <span class="btn__text">Confirm your pledge</span>
    </button>
  </div>
  <!-- /ko -->
</script>
