---
title: Pledge your Support
description: Test Description
layout: default.hbs
permalink: false
appName: pledgeYourSupport
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Pledge your Support</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Pledge your Support</li>
        </ol>
      </div>

      <p>[Opening text about pledging and how it makes a difference. Choose a Pledge or create your own / Create your own version of the Charter with your Pledge and share etc]</p>

      <div class="pledge js-pledge">
        <!-- ko ifnot: section3.isActive() -->
        <h2 class="h2">Make a Pledge</h2>
        <div class="step">
          <ol class="step__list">
            <li class="step__item" data-bind="css: { active: section1.isActive() }"><a href="#" data-bind="click: setSection1Active">1</a></li>
            <li class="step__item" data-bind="css: { active: section2.isActive() }">2</li>
          </ol>
        </div>
        <!-- /ko -->
        <form action="" class="pledge-form js-pledge-form">
          <div class="pledge-section pledge-section--1" data-bind="css: { active: section1.isActive() }">
            <!-- ko template: { name: 'step-1' } --><!-- /ko -->
          </div>
          <div class="pledge-section pledge-section--2" data-bind="css: { active: section2.isActive() }, with: formModel">
            <!-- ko template: { name: 'step-2' } --><!-- /ko -->
          </div>
        </form>

        <div class="pledge-section pledge-section--3" data-bind="css: { active: section3.isActive() }">
          <!-- ko template: { name: 'step-3' } --><!-- /ko -->
        </div>
      </div>

      <h2 class="h2">[How else can you help?]</h2>
      <p>"[Street Support Network is an online tool that makes it easier to support people experiencing homelessness in Manchester. The charities and grassroots groups involved in the Charter are also part of this Network - you can find relevant and local services to meet a homeless person's needs, and find out how to help.]"</p>
      <p>Find out what you can do to help people who are homeless:</p>

      {{>cta brand="e" link="https://streetsupport.net/give-items.html" icon="give" name="Give"}}
      {{>cta brand="e" link="https://streetsupport.net/volunteer.html" icon="volunteer" name="Volunteer"}}
      {{>cta brand="e" link="https://streetsupport.net/donate.html" icon="donate" name="Donate"}}
      {{>cta brand="e" link="https://streetsupport.net/sponsor.html" icon="partnerships" name="Partnerships"}}

      <h2 class="h2">[Companies who have pledged to the Charter]</h2>
      <p>TBA</p>
    </div>
  </div>
</div>


<script type="text/html" id="step-1">
<p>I/We Pledge to support the Manchester Homelessness Charter</p>
<h3 class="h3">As a...</h3>
<div class="accordion js-accordion" data-bind="foreach: supporterCategories">
  <button class="h3 accordion__header js-header" data-bind="text: name"></button>
  <div class="accordion__item js-item">
    <div class="accordion__inner">
      <h3 class="h3">[Select and edit a pledge below, or create your own]</h3>
      <div class="pledge-select">
        <ul class="pledge-select__list" data-bind="foreach: examplePledges">
          <li class="pledge-select__item">
            <button class="btn pledge-form__btn" data-bind="text: description, click: selectExamplePledge"></button>
          </li>
        </ul>
        <h3 class="h3">Can't see yours? Add your own</h3>
        <label class="pledge-form__label hide-screen" for="customtype">Add your own</label>
        <textarea class="pledge-form__textarea" placeholder="Add your own custom Pledge" data-bind="textInput: customPledge"></textarea>
        <p>[If you're not sure what pledge works best for you, leave this blank and we'll be in touch]</p>
        <button class="btn pledge-form__btn" data-bind="click: useCustomPledge">Add your pledge</button>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="step-2">
<h3 class="h3 pledge__heading--inline">I,</h3>
<label class="pledge-form__label hide-screen" for="firstName">First Name *</label>
<input class="pledge-form__input pledge-form__input--inline" type="text" id="firstName" name="firstName" placeholder="First Name *" data-bind="textInput: firstName"></input>
<label class="pledge-form__label hide-screen" for="lastName">Last Name *</label>
<input class="pledge-form__input pledge-form__input--inline" type="text" id="lastName" name="lastName" placeholder="Last Name *" data-bind="textInput: lastName"></input>

<span>pledge to support the Manchester Homeless Charter by:</span>

<textarea style="margin-top: 1rem;" class="pledge-form__textarea" id="pledge" name="pledge" data-bind="textInput: pledge"></textarea>

<ul class="pledge-form__list">
  <li class="pledge-form__item">
    <label class="pledge-form__label" for="organisation">Organisation Name</label>
    <input class="pledge-form__input pledge-form__input--inline" type="text" id="organisation" name="organisation" placeholder="Organisation Name" data-bind="textInput: organisation"></input>
  </li>
  <li class="pledge-form__item">
    <label class="pledge-form__label" for="email">Email *</label>
    <input class="pledge-form__input pledge-form__input--inline" type="text" id="email" name="email" placeholder="Email Address" data-bind="textInput: email"></input>
    <p>(We will never share your email)</p>
  </li>
  <li class="pledge-form__item">
    <label class="pledge-form__label" for="subscribe">Receive email updates about the Charter?</label>
    <input class="pledge-form__checkbox" type="checkbox" name="subscribe" data-bind="checked: isOptedIn">
  </li>
</ul>

<button class="btn pledge-form__btn" data-bind="click: $parent.submitPledge">Submit</button>
</script>

<script type="text/html" id="step-3">
<h2 class="h2">Thank you! Your Pledge has been submitted</h2>
<p>[It will be sent for approval and you will be sent / we will get in touch / when it is approved]</p>
<h3 class="h3">[We've created your own version of the Charter with your Pledge]</h3>
<p>An email has been sent to [YOUR EMAIL ADDRESS] where you can download your charter.</p>

<div class="charter-social">
  <ul class="charter-social__list">
    <li class="charter-social__item">Download your charter <img data-src="holder.js/44x44?text=Icon" /></li>
    <li class="charter-social__item">Print your charter <img data-src="holder.js/44x44?text=Icon" /></li>
    <li class="charter-social__item">Share your charter <img data-src="holder.js/44x44?text=Icon" /></li>
  </ul>
</div>

<p>[Want to take your support further? Is there something you're already doing which you can pledge to help the Charter? Why not Join an Action group?]</p>

{{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
</script>
