---
title: Pledge your Support
description: Test Description
layout: default.hbs
permalink: false
appName: pledgeYourSupport
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Pledge your Support</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Pledge your Support</li>
        </ol>
      </div>

      <p>[Opening text about pledging and how it makes a difference. Choose a Pledge or create your own / Create your own version of the Charter with your Pledge and share etc]</p>

      <div class="pledge js-pledge">
        <h2 class="h2">Make a Pledge</h2>
        <div class="step">
          <ol class="step__list">
            <li class="step__item"><a href="#">1</a></li>
            <li class="step__item"><a href="#">2</a></li>
          </ol>
        </div>

        <form action="" class="pledge-form js-pledge-form">
          <div class="pledge-section pledge-section--1" data-bind="css: { active: section1.isActive() }">
            <p>I/We Pledge to support the Manchester Homelessness Charter</p>

            <h3 class="h3">As a...</h3>
            <div class="accordion js-accordion" data-bind="foreach: supporterCategories">
              <button class="h3 accordion__header js-header" data-bind="text: name"></button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  <h3 class="h3">[Select and edit a pledge below, or create your own]</h3>
                  <div class="pledge-select">
                    <ul class="pledge-select__list" data-bind="foreach: examplePledges">
                      <li class="pledge-select__item">
                        <button class="pledge-select__btn" data-bind="text: description, click: selectExamplePledge"></button>
                      </li>
                    </ul>
                    <h3 class="h3">Can't see yours? Add your own</h3>
                    <label class="pledge-form__label hide-screen" for="customtype">Add your own</label>
                    <textarea class="pledge-form__textarea" placeholder="Add your own custom Pledge" data-bind="textInput: customPledge"></textarea>
                    <p>[If you're not sure what pledge works best for you, leave this blank and we'll be in touch]</p>
                    <button class="pledge-form__btn" data-bind="click: useCustomPledge">Add your pledge</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pledge-section pledge-section--2" data-bind="css: { active: section2.isActive() }">
            <h3 class="h3 pledge__heading--inline">I,</h3>

            <label class="pledge-form__label hide-screen" for="firstName">First Name *</label>
    				<input class="pledge-form__input pledge-form__input--inline" type="text" id="firstName" name="firstName" placeholder="First Name *"></input>
            <label class="pledge-form__label hide-screen" for="lastName">Last Name *</label>
    				<input class="pledge-form__input pledge-form__input--inline" type="text" id="lastName" name="lastName" placeholder="Last Name *"></input>

            <span>pledge to support the Manchester Homeless Charter by:</span>

            <textarea style="margin-top: 1rem;" class="pledge-form__textarea" id="pledge" name="pledge" data-bind="textInput: pledge"></textarea>

            <ul class="pledge-form__list">
              <li class="pledge-form__item">
                <label class="pledge-form__label" for="organisation">Organisation Name</label>
        				<input class="pledge-form__input pledge-form__input--inline" type="text" id="organisation" name="organisation" placeholder="Organisation Name"></input>
              </li>
              <li class="pledge-form__item">
                <label class="pledge-form__label" for="email">Email *</label>
        				<input class="pledge-form__input pledge-form__input--inline" type="text" id="email" name="email" placeholder="Email Address"></input>
                <p>(We will never share your email ever)</p>
              </li>
              <li class="pledge-form__item">
                <label class="pledge-form__label" for="subscribe">Receive email updates about the Charter?</label>
        				<input class="pledge-form__checkbox" type="checkbox" name="subscribe" value="subscribe">
              </li>
            </ul>

            <button class="pledge-form__btn" data-bind="click: submitPledge">Submit</button>
          </div>

          <div class="pledge-section pledge-section--3" data-bind="css: { active: section3.isActive() }">
            step 3 confirmation tba
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
