---
title: Pledge your Support
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Pledge your Support</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Pledge your Support</li>
        </ol>
      </div>

      <p>[Opening text about pledging and how it makes a difference. Choose a Pledge or create your own / Create your own version of the Charter with your Pledge and share etc]</p>

      <div class="pledge js-pledge">
        <h2 class="h2">Make a Pledge</h2>
        <div class="step">
          <ol class="step__list">
            <li class="step__item"><a href="#">1</a></li>
            <li class="step__item"><a href="#">2</a></li>
          </ol>
        </div>

        <form action="#" class="pledge-form js-pledge-form">
          <div class="pledge-section pledge-section--1 is-active">
            <p>I/We Pledge to support the Manchester Homelessness Charter</p>

            <h3 class="h3">As a...</h3>
            <div class="accordion js-accordion">
              <button class="h3 accordion__header js-header">Header 1</button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  <h3 class="h3">[Select and edit a pledge below, or create your own]</h3>
                  <div class="pledge-select">
                    <ul class="pledge-select__list">
                      <li class="pledge-select__item"><button class="pledge-select__btn">Pledge Example 1</button></li>
                      <li class="pledge-select__item"><button class="pledge-select__btn">Pledge Example 2</button></li>
                      <li class="pledge-select__item"><button class="pledge-select__btn">Pledge Example 3</button></li>
                      <li class="pledge-select__item"><button class="pledge-select__btn">Pledge Example 4</button></li>
                      <li class="pledge-select__item"><button class="pledge-select__btn">Pledge Example 5</button></li>
                    </ul>
                    <h3 class="h3">Can't see yours? Add your own</h3>
                    <label class="pledge-form__label hide-screen" for="customtype">Add your own</label>
            				<input class="pledge-form__textarea" type="textarea" id="customtype" placeholder="Add your own"></input>
                    <p>[If you're not sure what pledge works best for you, leave this blank and we'll be in touch]</p>
                    <button class="pledge-select__btn">Add your pledge</button>
                  </div>
                </div>
              </div>

              <button class="h3 accordion__header js-header">Header 2</button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  Code like header 1 here
                </div>
              </div>

              <button class="h3 accordion__header js-header">Header 3</button>
              <div class="accordion__item js-item">
                <div class="accordion__inner">
                  Code like header 1 here
                </div>
              </div>
            </div>
          </div>

          <div class="pledge-section pledge-section--2">
            <span>I </span>

            <label class="pledge-form__label hide-screen" for="firstname">First Name *</label>
    				<input class="pledge-form__input" type="text" id="firstname" placeholder="First Name *"></input>
            <label class="pledge-form__label hide-screen" for="lastname">Last Name *</label>
    				<input class="pledge-form__input" type="text" id="lastname" placeholder="Last Name *"></input>

            <span>pledge to support the Manchester Homeless Charter by:</span>

            <input class="pledge-form__textarea" type="textarea" id="pledge" value="[pledge from step 1 goes here]"></input>

            <label class="pledge-form__label" for="business">Business Name</label>
    				<input class="pledge-form__input" type="text" id="business" placeholder="Business Name"></input>
            <label class="pledge-form__label" for="email">Email * (We will never share your email ever)</label>
    				<input class="pledge-form__input" type="text" id="email" placeholder="Email *"></input>

            <label class="pledge-form__label" for="subscribe">Recieve email updates about the Charter?</label>
    				<input class="pledge-form__checkbox" type="checkbox" name="subscribe" value="subscribe">

            <input type="submit" />
          </div>

          <div class="pledge-section pledge-section--3">
            step 3 confirmation tba
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
