---
title: View your Pledge
description: View your Pledge to the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: viewYourPledge
sectionName: charter
---

<div class="block">
  <div class="container">
    <h1 class="h1 block__header">Manchester Homelessness Charter</h1>
    <h2 class="h2 block__subHeader">View your Pledge</h2>
  </div>
</div>

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item"><a href="/pledge-your-support">Pledge your Support</a></li>
      <li class="breadcrumbs__item">View your Pledge</li>
    </ol>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <!-- ko if: pledgeHasLoaded -->
        <!-- ko template: { name: 'pledge-details' } --><!-- /ko -->
      <!-- /ko -->

      {{> charter}}

    </div>
  </div>
</div>


<script type="text/html" id="pledge-details">
<p>I, <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span><span data-bind="text: organisationText"></span>, pledge to support the Manchester Homelessness Charter by <span data-bind="text: pledge"></span>.</p>
<p>Pledged on: <span data-bind="text: creationDate"></span></p>
</script>

{{> loading-anim }}
