---
title: View your Pledge
description: View your Pledge to the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: viewYourPledge
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">View Your Pledge</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item"><a href="/pledge-your-support">Pledge your Support</a></li>
          <li class="breadcrumbs__item">View your Pledge</li>
        </ol>
      </div>

      <span data-bind="text: firstName"></span>
      <span data-bind="text: lastName"></span>

      {{> charter}}

    </div>
  </div>
</div>
