---
title: Error 500
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">500 Error</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">500 Error</h1>
    <p class="block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Sorry, there has been a problem. Please go back and try again. If the issue persists, please <a href="mailto: support@streetsupport.net">contact us</a>.</p>
    </div>
  </div>
</div>
