---
title: Partnership Board
description: Learn more about the Partnership Board of the Manchester Homelessness Charter on Street Support
layout: default.hbs
permalink: false
appName: home
section: charter
page: partnershipboard
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Partnership Board</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Partnership Board</h1>
    <p class="h2 block__sub-header">Co-production is central to everything we do</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>A key part of the Manchester Homelessness Charter structure is the Partnership Board.</p>
      <p>The city council did not previously have a board with overall responsibility for homelessness.
        Instead, those working in the sector reported into separate boards on Housing, Neighbourhoods,
        and Adult Health & Wellbeing.</p>
      <p>By creating the Charter and the Partnership Board, it ensures all bodies involved in the factors
        around homelessness areas are involved, informed and can contribute.</p>
      <p>Setting up a board focussed on homelessness is an important step, but it is also critical
        that, how it functions, is in line with the values of the charter.</p>
      <h2 class="h2">Partnership Board Structure</h2>
      <p>Co-production is central to everything we do, and the board is a partnership between people with
        lived experience, public, voluntary and private sector. The board is chaired by the Bishop of
        Manchester, and includes:</p>
      <ul>
        <li>7 people who have lived experience of homelessness</li>
        <li>2 elected representatives from the voluntary sector</li>
        <li>Representatives from the council, police, fire & rescue, business, and both universities</li>
      </ul>
      <p>A board is often strategic and dictates out policy and plans to other groups. The partnership
        board provides overall governance and stewardship. Its key role is to listen to experiences and
        challenges from the charter action groups, and to act where there are systemic blockages.</p>
      <div class="split">
        <h2 class="h2">Current Progress and Next Steps</h2>
        <div class="split__element">
          <p>The partnership board is now set up and has been through training on co-production, and spent
            time connecting with the action groups and understanding where systemic change is needed.</p>
          <p>The partnership board will meet 3 or 4 times a year. Through building relationships and open
            channels of communication with the action groups, it is hoped that key decision makers will be
            more able to respond to the needs of people with experience of homelessness.</p>
          <p>This has not been done before, so in many ways it is an experiment that we will adapt, learn,
            and improve upon as we progress.</p>
        </div>
        <div class="split__element partnership">
          {{>icon name="partnershipLogo" class="partnership__icon" }}
        </div>
      </div>

      <div class="block__cta block__cta--3">
        {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
        {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
      </div>
    </div>
  </div>
</div>
