<li class="nav__item nav__item--sub-item nav__item--bolton" data-location="bolton"><a href="https://streetsupport.net/bolton">Bolton</a></li>
<li class="nav__item nav__item--sub-item nav__item--bournemouth" data-location="bournemouth"><a href="https://streetsupport.net/bournemouth">Bournemouth</a></li>
<li class="nav__item nav__item--sub-item nav__item--bury" data-location="bury"><a href="https://streetsupport.net/bury">Bury</a></li>
<li class="nav__item nav__item--sub-item nav__item--bradford" data-location="bradford"><a href="https://streetsupport.net/bradford">Bradford</a></li>
<li class="nav__item nav__item--sub-item nav__item--bury" data-location="bury"><a href="https://streetsupport.net/bury">Bury</a></li>
<li class="nav__item nav__item--sub-item nav__item--leeds" data-location="leeds"><a href="https://streetsupport.net/leeds">Leeds</a></li>
<li class="nav__item nav__item--sub-item nav__item--liverpool" data-location="liverpool"><a href="https://streetsupport.net/liverpool">Liverpool</a></li>
<li class="nav__item nav__item--sub-item nav__item--manchester" data-location="manchester"><a href="https://streetsupport.net/manchester">Manchester</a></li>
<li class="nav__item nav__item--sub-item nav__item--oldham" data-location="oldham"><a href="https://streetsupport.net/oldham">Oldham</a></li>
<li class="nav__item nav__item--sub-item nav__item--portsmouth" data-location="portsmouth"><a href="https://streetsupport.net/portsmouth">Portsmouth</a></li>
<li class="nav__item nav__item--sub-item nav__item--southampton" data-location="southampton"><a href="https://streetsupport.net/southampton">Southampton</a></li>
<li class="nav__item nav__item--sub-item nav__item--tameside" data-location="tameside"><a href="https://streetsupport.net/tameside">Tameside</a></li>
<li class="nav__item nav__item--sub-item nav__item--trafford" data-location="trafford"><a href="https://streetsupport.net/trafford">Trafford</a></li>
<li class="nav__item nav__item--sub-item nav__item--wigan-and-leigh" data-location="wigan-and-leigh"><a href="https://streetsupport.net/wigan-and-leigh">Wigan and Leigh</a></li>