---
title: Join an Action Group
description: Join an action group to work with others to end homelessness in Manchester
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Join an Action Group</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Join an Action Group</li>
        </ol>
      </div>

      <h2 class="h2">What is an action group?</h2>
      <p>Several action groups have been created as a result of speaking to people who are homeless and organisations which are working hard to overcome the challenges of homelessness. Each action group concentrates on one key issue, such as mental health, employment and emergency accommodation.</p>
      <p>The vision is to bring together people who are willing to share their skills and experience in one of the key issues, so we can make real changes to benefit people who are homeless.</p>

      <h2 class="h2">Why join an action group?</h2>
      <p>By making the commitment to join an action group you’ll have the opportunity to make use of your skills, build strong networks with people who have the same dedication to banishing homelessness and be part of a team which leads the way in tackling key issues.</p>

      <h2 class="h2">What does it involve?</h2>
      <p>Once you have selected which action group will best benefit from your experience, you will be contacted by the group Chairperson. The Chairperson will be responsible for keeping the group focussed and organising meetings.  On average we expect each group to meet once a month, with actions progressed between meetings, but this will depend on the people who join each group.</p>

      <h2 class="h2">Action Goups</h2>
      <p>Please select the action group you wish to join:</p>
      <ul>
        <li>Mental Health</li>
        <li>Employability</li>
        <li>Substandard Accommodation</li>
        <li>Women's Direct Access</li>
        <li>Evening Offer</li>
        <li>Emergency Accommodation</li>
        <li>Presenting as homeless at the town hall</li>
        <li>Street Giving and Begging</li>
      </ul>
      <p>If there is an issue not listed here, which you think worthy of an action group please email your suggestions to <a href="mailto:actiongroups@streetsupport.net">actiongroups@streetsupport.net</a>.
  </div>
</div>
