---
title: Join a Manchester Homelessness Action Group
description: Join an action group to work collaboratively to end homelessness in Manchester
layout: default.hbs
permalink: false
appName: joinActionGroup
section: charter
page: joinactiongroup
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Action Groups</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Action Groups</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is an action group?</h2>
      <p>The 8 action groups will each tackle a key challenge that people experiencing homelessness regularly face, such as access to mental health support, emergency accommodation, and employment. Each group will include people who have experienced homelessness, as well as those who have relevant skills or professional expertise.</p>

      {{> divider}}

      <h2 class="h2">How will the action groups work?</h2>
      <p>Each group will decide how they want to work together, but we expect no more than one meeting a month. The groups will feedback progress to the charter driving group at least every 3 months, and we will publish regular updates on this website.</p>
      <p>If you feel there is an action group that might benefit from your experience, please submit your details, and the group Chairperson will be in touch with more information.</p>

    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <div class="pledge js-pledge">
        {{> loading-anim }}
        <div class="pledge__inner">
          <!-- ko ifnot: section4.isActive() -->
          <div class="pledge__heading">
            <h2 class="h1 pledge__header">Join an Action Group</h2>
          </div>

          <div class="step">
            <ol class="step__list">
              <li class="step__item" data-bind="css: { active: section1.isActive() }"><a href="#" data-bind="click: setSection1Active">1</a></li>
              <li class="step__item" data-bind="css: { active: section2.isActive() }">2</li>
            </ol>
          </div>
          <!-- /ko -->
          <form action="" class="pledge-form js-pledge-form">
            <div class="pledge-section pledge-section--1" data-bind="css: { active: section1.isActive() }">
              <h3 class="h3">Please select the action group you are interested in joining:</h3>
              <div class="action-select">
                <ul class="action-select__list" data-bind="foreach: actionGroups">
                  <li class="action-select__item">
                    <button class="btn action-select__btn" data-bind="click: selectActionGroup">
                      <span class="action-select__summary">
                        <h3 class="h2 action-select__name" data-bind="text: name"></h3>
                        <p class="action-select__synopsis" data-bind="text: synopsis"></p>
                      </span>
                    </a>
                  </li>
                </ul>
                <p>If there is an issue not listed here, which you think worthy of an action group please email your suggestions to <a href="mailto:actiongroups@streetsupport.net">actiongroups@streetsupport.net</a>.</p>
              </div>
            </div>
            <div class="pledge-section pledge-section--2" data-bind="css: { active: section2.isActive() }">
              <div data-bind="with: selectedActionGroup">
                <div class="action-select__item action-select__item--step2">
                  <span class="action-select__summary">
                    <h3 class="h2 action-select__name" data-bind="text: name"></h3>
                    <p class="action-select__synopsis" data-bind="text: synopsis"></p>
                  </span>
                </div>
              </div>
              <div class="action-select__detail" data-bind="with: formModel">
                <h2 class="h3">Introduce yourself</h2>
                <div class="action-select__description">
                  <p>We’d love to know more about you. How can you contribute to this action group? Have you ever been homeless? Do you have any relevant skills or professional experience? How much time can you commit? Do you have any questions you’d like us to answer?</p>
                  <p>(The Chairperson of this action group will be in touch with more information.)</p>
                </div>

                <div class="pledge-form__input-field">
                  <label class="pledge-form__label hide-screen" for="pledge">Please write about your experience (required)</label>
                  <textarea class="pledge-form__textarea pledge-form__textarea--join-action-group" id="pledge" name="pledge" data-bind="textInput: pledge" placeholder="Please write about your experience (required)"></textarea>
                  <a class="small pledge-form__back-button" data-bind="click: $parent.setSection1Active">Select a different action group</a>
                </div>

                <ul class="pledge-form__list">
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="firstName">First Name (required)</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="firstName" name="firstName" placeholder="First Name (required)" data-bind="textInput: firstName"></input>
                    </div>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="lastName">Last Name (required)</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="lastName" name="lastName" placeholder="Last Name (required)" data-bind="textInput: lastName"></input>
                    </div>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="organisation">Organisation/Business Name (if applicable)</label>
                    <input class="pledge-form__input pledge-form__input" type="text" id="organisation" name="organisation" placeholder="Organisation Name" data-bind="textInput: organisation"></input>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="email">Email (required)</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="email" name="email" placeholder="Email Address (required)" data-bind="textInput: email"></input>
                    </div>
                    <span class="pledge__copy small">(Street Support will never share your email with a 3rd party.)</span>
                  </li>
                  <li class="pledge-form__item pledge-form__item--checkbox">
                    <label class="pledge-form__label pledge-form__label" for="subscribe">
                      <input class="pledge-form__checkbox" type="checkbox" name="subscribe" id="subscribe" data-bind="checked: isOptedIn">
                      Select to receive email updates from Street Support about homelessness and the Charter
                    </label>
                  </li>
                </ul>

                <div class="pledge-form__next">
                  <button class="btn btn--brand-e" data-bind="click: $parent.submitPledge">
                    <span class="btn__text">Register my interest</span>
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div class="pledge-section pledge-section--3" data-bind="css: { active: section4.isActive() }">
            <h2 class="h2">Thank you for your interest</h2>
            <p>Thank you for offering to be part of this action group. The Chairperson for this group will be in touch shortly with more information.</p>
            <p>Please encourage your friends and colleagues to join an action group, so their skills and experience can help end homelessness too.</p>

            <div class="charter-social">
              <ul class="charter-social__list charter-social__list--action-group">
                <li class="charter-social__item charter-social__item--share">
                  {{> facebook urlToShare="https://charter.streetsupport.net/read-the-charter/" pageTitle="Read the Manchester Homelessness Charter" pageDescription="Read the Manchester Homelessness Charter - a vision to end homelessness in Manchester." }}
                  {{> twitter urlToShare="https://charter.streetsupport.net/read-the-charter/" tweet="Read how Manchester is working together to end homelessness with the Homelessness Charter." }}
                  <h3 class="charter-social__title">Share</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
