---
title: Join a Manchester Homelessness Action Group
description: Join an action group to work collaboratively to end homelessness in Manchester
layout: default.hbs
permalink: false
appName: joinActionGroup
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Join an Action Group</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Join an Action Group</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">What is an action group?</h2>
      <p>Eight action groups have been created as a result of speaking to people experiencing homeless and organisations which are working hard to overcome their challenges. Each action group will concentrate on one key issue, such as mental health, employment or emergency accommodation.</p>

      {{> divider}}

      <h2 class="h2">Who can join an action group?</h2>
      <p>We are looking for a range of people from different backgrounds to work together on solutions to these important challenges. The groups will include people who have experienced homelessness, as well as those who have relevant skills or professional expertise. If you are interested in any of the action groups please get in touch.</p>

      {{> divider}}

      <h2 class="h2">Why join an action group?</h2>
      <p>By joining an action group you’ll have the opportunity to make use of your skills and experience, build strong networks with people who have the same dedication to ending homelessness, and be part of a team which leads the way in tackling key issues.</p>

      {{> divider}}

      <h2 class="h2">How will the groups work?</h2>
      <p>Once you have identified an action group that will benefit from your experience, you will be contacted by the group Chairperson who will be responsible for keeping the team focussed and organising meetings. Each group will decide themselves how to work effectively, but we expect no more than one meeting a month.</p>
    </div>
  </div>
</div>

<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <div class="pledge js-pledge">
        {{> loading-anim }}
        <div class="pledge__inner">
          <!-- ko ifnot: section4.isActive() -->
          <h2 class="h1">Join an Action Group</h2>

          <div class="step">
            <ol class="step__list">
              <li class="step__item" data-bind="css: { active: section1.isActive() }"><a href="#" data-bind="click: setSection1Active">1</a></li>
              <li class="step__item" data-bind="css: { active: section2.isActive() }">2</li>
            </ol>
          </div>
          <!-- /ko -->
          <form action="" class="pledge-form js-pledge-form">
            <div class="pledge-section pledge-section--1" data-bind="css: { active: section1.isActive() }">
              <h3 class="h3">Please select the action group you are interested in joining:</h3>
              <div class="action-select">
                <ul class="action-select__list" data-bind="foreach: actionGroups">
                  <li class="action-select__item">
                    <button class="btn action-select__btn" data-bind="click: selectActionGroup">
                      <span class="action-select__summary">
                        <h3 class="h2 action-select__name" data-bind="text: name"></h3>
                        <p class="action-select__synopsis" data-bind="text: synopsis"></p>
                      </span>
                    </a>
                  </li>
                </ul>
                <p>If there is an issue not listed here, which you think worthy of an action group please email your suggestions to <a href="mailto:actiongroups@streetsupport.net">actiongroups@streetsupport.net</a>.</p>
              </div>
            </div>
            <div class="pledge-section pledge-section--2" data-bind="css: { active: section2.isActive() }">
              <div data-bind="with: selectedActionGroup">
                <div class="action-select__item action-select__item--step2">
                  <span class="action-select__summary">
                    <h3 class="h2 action-select__name" data-bind="text: name"></h3>
                    <p class="action-select__synopsis" data-bind="text: synopsis"></p>
                  </span>
                </div>
              </div>
              <div class="action-select__detail" data-bind="with: formModel">
                <h2 class="h2">Introduce yourself</h2>
                <div class="action-select__description">
                  <p>We’d love to know more about you. How can you contribute to this action group? Have you ever been homeless? Do you have any relevant skills or professional experience? How much time can you commit? Do you have any questions you’d like us to answer? (The Chairperson of this action group will be in touch).</p>
                </div>

                <div class="pledge-form__input-field">
                  <label class="pledge-form__label hide-screen" for="pledge">Please write about your experience *</label>
                  <textarea class="pledge-form__textarea pledge-form__textarea--join-action-group" id="pledge" name="pledge" data-bind="textInput: pledge" placeholder="Please write about your experience *"></textarea>
                </div>

                <ul class="pledge-form__list">
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="firstName">First Name *</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="firstName" name="firstName" placeholder="First Name *" data-bind="textInput: firstName"></input>
                    </div>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="lastName">Last Name *</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="lastName" name="lastName" placeholder="Last Name *" data-bind="textInput: lastName"></input>
                    </div>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="organisation">Organisation/Business Name (if applicable)</label>
                    <input class="pledge-form__input pledge-form__input" type="text" id="organisation" name="organisation" placeholder="Organisation Name" data-bind="textInput: organisation"></input>
                  </li>
                  <li class="pledge-form__item">
                    <label class="pledge-form__label hide-screen" for="email">Email *</label>
                    <div class="pledge-form__input-field">
                      <input class="pledge-form__input pledge-form__input" type="text" id="email" name="email" placeholder="Email Address *" data-bind="textInput: email"></input>
                    </div>
                    <span class="pledge__copy small">(Street Support will never share your email with a 3rd party.)</span>
                  </li>
                  <li class="pledge-form__item pledge-form__item--checkbox">
                    <input class="pledge-form__checkbox" type="checkbox" name="subscribe" data-bind="checked: isOptedIn">
                    <label class="pledge-form__label pledge-form__label" for="subscribe">Select to receive email updates from Street Support about homelessness and the Charter</label>
                  </li>
                </ul>

                <div class="pledge-form__next">
                  <button class="btn btn--brand-e" data-bind="click: $parent.submitPledge">
                    <span class="btn__text">Register my interest</span>
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div class="pledge-section pledge-section--3" data-bind="css: { active: section4.isActive() }">
            <h2 class="h2">Thank you for your interest</h2>
            <p>Thank you for offering to be part of this action group. The Chairperson for this group will be in touch shortly with more information.</p>
            <p>Please encourage your friends and colleagues to join an action group, so their skills and experience can help end homelessness too.</p>
            <div class="charter-social">
              <ul class="charter-social__list">
                <li class="charter-social__item">Encourage your friends to join an Action Group {{> social-share }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
