---
title: Join an Action Group
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Join an Action Group</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Join an Action Group</li>
        </ol>
      </div>

      <h2 class="h2">Page TBA</h2>
  </div>
</div>
