---
title: Join an Action Group
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1">TBA</h1>
    </div>
  </div>
</div>
