---
title: About the Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">About the Charter</h2>
      <img class="block__promo block__promo--right" data-src="holder.js/320x150?text=Promo Image" />
      <p>In response to the growing challenge of homelessness in our city, significant consultation took place with homeless people, with a leader’s event in October 2015. Mustard Tree volunteered to lead the development of a Charter, drawing on best practice nationally and internationally.</p>

      <h2 class="h2">How will this create change?</h2>
      <img class="block__promo block__promo--right" data-src="holder.js/320x150?text=Promo Image" />
      <p>Organisations and individuals will be asked to support the charter by pledging action that they will take to move towards this vision.</p>
      <p>Action groups will be set up to get experts from a range of backgrounds to work together to address areas which have been identified as needing improvement. These action groups include mental health provision, employability, substandard accommodation, evening provision, presenting as homeless at the town hall, alternatives to street giving, and more.</p>

      <h2 class="h2">Who is involved?</h2>
      <p>The charter has been co­written in consultation with people who have experienced homelessness, charities, community and faith organisations, the council, businesses and other interested partners. The following people have been part of the driving group for the charter, with the support of many others:</p>
      <ul>
        <li><strong>Jez Green</strong> Charter Lead, The Mustard Tree</li>
        <li><strong>Amanda Croome</strong> The Booth Centre</li>
        <li><strong>Paul Connery</strong> Homeless Link</li>
        <li><strong>Beth Knowles</strong> MCC Councillor</li>
        <li><strong>Jenny Osborne</strong> MCC Rough Sleepers Team</li>
        <li><strong>Viv Slack</strong> Street Support Network</li>
      </ul>
      {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the Charter"}}
      {{>cta brand="e" link="changethislink" icon="pledge" name="Pledge your Support"}}
      {{>cta brand="e" link="changethislink" icon="join" name="Join an Action Group"}}
    </div>
  </div>
</div>
