---
title: About the Charter
description: About the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">About the Charter</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">About the Charter</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Collaboration and the Charter</h2>
      <div class="split">
        <div class="split__element">
          <p>Although there are many hardworking organisations and individuals dedicated to supporting people who are homeless, homelessness in Manchester is a growing challenge. The Manchester Homelessness Partnership grew from the thought that joining forces would help us all to achieve our vision of a homelessness free future.</p>
          <p>In 2015 we invited people who are homeless in the city, and organisations working to reduce homelessness, to share their experiences, key challenges and concerns. The Charter is the outcome of all these events, workshops, focus groups and conferences, drawing on best practice nationally and internationally.</p></div>
        <div class="split__element">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/KGZLsy9lKf4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <h2 class="h2">How will this create change?</h2>
      <div class="split">
          <p>The Charter gives us a shared vision for the future and brings together different people to deal with homelessness in practical ways.</p>
          <p>In recognition that organisations and individuals have differing experiences and capabilities to help people who are homeless, there are two ways to show support for the Charter. Firstly, by making a pledge to share skills and resources which will help tackle homelessness. Secondly, by joining one of the action groups set up to tackle priority issues, such as mental health provision, employability and substandard accommodation.</p>
          <p>We believe together we can banish homelessness from our city, with every pledge and act from the action groups taking us one step closer.</p>
      </div>

      <h2 class="h2">Who has been involved?</h2>
      <div class="split">
        <div class="split__element">
      <p>The Charter has grown from collaboration and consultation with people who have experienced homelessness, charities, community and faith organisations, the council, businesses and other interested partners.</p>
      <p>Backed by the support of numerous other individuals, the following people have been central to the progression of the Charter:
      <ul>
        <li><strong>People experiencing homelessness</strong></li>
        <li><strong>Jez Green</strong> Charter Lead, <a href="http://www.mustardtree.org.uk/">Mustard Tree</a></li>
        <li><strong>Amanda Croome</strong> <a href="http://www.boothcentre.org.uk">Booth Centre</a></li>
        <li><strong>Paul Connery</strong> <a href="http://www.homeless.org.uk/">Homeless Link</a></li>
        <li><strong>Beth Knowles</strong> MCC Councillor</li>
        <li><strong>Jenny Osborne</strong> MCC Rough Sleepers Team</li>
        <li><strong>Viv Slack</strong> <a href="https://streetsupport.net/">Street Support Network</a></li>
        <li>And many, many more...</li>
      </ul>
        </div>
        <div class="split__element partnership">
          <svg class="svg-partnershipLogo-dims partnership__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#partnershipLogo"></use></svg>
        </div>
      </div>

      <div class="block__cta block__cta--3">
        {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
        {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
      </div>
    </div>
  </div>
</div>
