---
title: FAQs
description: Frequently asked questions about the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">FAQs</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">FAQs</h1>
    <p class="block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Who is behind the charter?</h2>
      <p>The Manchester Homelessness Partnership has grown from collaboration with people who have experienced homelessness, charities, community and faith organisations, the council, businesses and other interested partners.</p>

      <h2 class="h2">How can i get involved?</h2>
      <p>You can make a personal pledge to support the charter, or join an action group working on key areas of improvement.</p>

      <h2 class="h2">How can my company get involved?</h2>
      <p>The Manchester Homelessness Partnership welcomes Manchester involvement from businesses. If you would like to speak to someone about where your business can get involved, please email <a href="charter@streetsupport.net"></a></p>
    </div>
  </div>
</div>
