---
title: SSN Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block charter-intro">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Page not found</h2>
      <p>This is not the page you were looking for&hellip; Why not:</p>
      <ul class="charter-list-reset">
        <li><a href="/read-the-charter/">Read the Charter</a></li>
        <li><a href="/pledge-your-support/">Pledge your support</a></li>
        <li><a href="/join-action-group/">Join an Action Group</a></li>
    </div>
  </div>
</div>
