---
title: SSN Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--highlight">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1">Manchester Homelessness Charter</h1>
    </div>
  </div>
</div>

<div class="breadcrumbs container">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
    <li class="breadcrumbs__item">Charter</li>
  </ol>
</div>

<div class="block charter-intro">
  <div class="container block__inner">
    <div class="block__content">
      <p>[The Manchester Homelessness Charter defines a new, shared approach to addressing the challenges of homelessness in our city, written by people experiencing homelessness.]</p>
      <p>[We invite individuals and organisations to pledge to support the Charter, and to work together to end homelessness in Manchester.]</p>

      {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
      {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
      {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[Why a Charter?]</h2>
      <img class="block__promo block__promo--right" data-src="holder.js/320x320?text=Promo Image" />
      <p>[A charter may seem like an archaic term, but it's a cohesive way of aligning efforts towards a shared vision. There are many fantastic organisations across Manchester - this Charter unites them in creating the change that people experiencing homelessness want to see.]</p>
      <a class="btn btn--brand-d" href="/read-the-charter/">
        <span class="btn__text">Read more about the Charter</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">When will it launch?</h2>
      <img class="block__promo block__promo--left" data-src="holder.js/320x320?text=Promo Image" />
      <p>The Charter Launch will take place on 9th May at 2­-4pm at Friend’s Meeting House.</p>
      <p>The Bishop of Manchester will present the event, and Richard Leese will be attending. We expect several hundred attendees.</p>
      <p>There will be a symbolic handing over from the partnership to homeless people on the day, and we will ask people to pledge their support and/or join an action group at the event.</p>
      <p>For more information, please contact <a href="mailto:charter@streetsupport.net">charter@streetsupport.net</a></p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[How else can you help?]</h2>
      <p>"[Street Support Network is an online tool that makes it easier to support people experiencing homelessness in Manchester. The charities and grassroots groups involved in the Charter are also part of this Network - you can find relevant and local services to meet a homeless person's needs, and find out how to help.]"</p>
      <p>Find out what you can do to help people who are homeless:</p>

      {{>cta brand="e" link="https://streetsupport.net/give-items.html" icon="give" name="Give"}}
      {{>cta brand="e" link="https://streetsupport.net/volunteer.html" icon="volunteer" name="Volunteer"}}
      {{>cta brand="e" link="https://streetsupport.net/donate.html" icon="donate" name="Donate"}}
      {{>cta brand="e" link="https://streetsupport.net/sponsor.html" icon="partnerships" name="Partnerships"}}
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[Questions about the Charter?]</h2>
      <p>If you have any questions about our Charter as an individual or organisation, please view our Frequently Asked Questions or email <a href="mailto:charter@streetsupport.net">charter@streetsupport.net</a>.</p>
    </div>
  </div>
</div>
