---
title: Manchester Homelessness Charter
description: Find out about the Manchester Homelessness Charter on Street Support.
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Manchester Homelessness Charter</h1>
    <h2 class="h2 block__sub-header">A mission to end homelessness in Manchester</h2>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <p>The Manchester Homelessness Charter is a symbol of our mission to end homelessness in our city.</p>
      <p>The Charter unites people, organisations and businesses with a shared vision and a set of values to tackle the challenges of homelessness. There are three simple steps for you to follow to help end homelessness...</p>

      <div class="block__cta block__cta--3">
        {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
        {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight block--priority">
  <div class="container">
    <div class="split">
      <div class="split__element">
        <img data-src="holder.js/100px320?text=Image" />
      </div>
      <div class="split__element">
        <h2 class="h2">Why a Charter?</h2>
        <p>There are lots of dedicated people across Manchester who are working hard to support people who are homeless, and many more who would like to do something to help. The Charter is a way to bring us all together with a shared vision, so that we can focus our efforts effectively to tackle key challenges, and ultimately to end homelessness.</p>
        <a class="btn btn--brand-e" href="/about-the-charter/">
          <span class="btn__text">Learn more about the Charter</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="block block--superhero">
  <div class="container">
    <div class="block__content">
      <div class="superhero__image">
        <div class="superhero__container">
          {{>icon name="meetinghall"}}
          <span class="superhero__overlay"></span>
        </div>
      </div>
      <div class="superhero__copy">
        <h2 class="h2 superhero__header block--priority">When is the launch?</h2>
        <p>The Charter will launch on 9th May at Friend’s Meeting House.</p>
        <p>Presented by the Bishop of Manchester and attended by Richard Leese, leader of Manchester City Council, this will be a historic event which celebrates the commitment of our city’s people, organisations and businesses to tackling homelessness. There will be a symbolic handing over from the Manchester Homelessness Partnership to the city, and opportunities to pledge your support and join an action group too.</p>
        <p>For more information, please contact <a href="mailto:charter@streetsupport.net">charter@streetsupport.net</a></p>
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo block--pullup">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Make a Pledge</h2>
      <p>Have you read the Charter and want to show your support? Make a pledge to share your skills and resources to help achieve this vision.</p>
      <p><a class="btn btn--brand-e" href="/pledge-your-support/"><span class="btn__text">Pledge your Support</span></a></p>
    </div>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Feeling inspired?</h2>
      <p>Making a pledge and joining an action group are only two of the ways you can support people who are homeless.  Street Support works closely with the organisations that form the Manchester Homelessness Partnership - our site <a href="http://streetsupport.net">streetsupport.net</a> helps people who are homeless access the assistance they need, and shows people how to give help.</p>
      <p>Explore Street Support to discover other ways that you can get involved:</p>

      <div class="block__cta block__cta--incopy">
        {{>cta brand="e" link="https://streetsupport.net/give-items.html" icon="give" name="Give"}}
        {{>cta brand="e" link="https://streetsupport.net/volunteer.html" icon="volunteer" name="Volunteer"}}
        {{>cta brand="e" link="https://streetsupport.net/donate.html" icon="donate" name="Donate"}}
        {{>cta brand="e" link="https://streetsupport.net/sponsor.html" icon="partnerships" name="Partnerships"}}
      </div>

      {{> divider}}

      <h2 class="h2">Got a question?</h2>
      <p>If you have a question about the Charter or the Manchester Homelessness Partnership please read our <a href="/about-the-charter/faqs/">Frequently Asked Questions</a> first. If your question isn’t answered there, please email <a href="mailto:charter@streetsupport.net">charter@streetsupport.net</a> and we will be in touch.</p>
    </div>
  </div>
</div>
