---
title: SSN Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Manchester Homelessness Charter</h2>
      <p>The Manchester Homelessness Charter defines a new, shared approach to addressing the challenges of homelessness in our city. It sets out a shared vision and set of values, with the ultimate goal to end homelessness in the city.</p>
      <p>[We're individuals and organisations to Pledge and support the Charter, and will be [carrying out these activities] to make a difference to homelessness in Manchester]</p>
      <img class="block__promo" data-src="holder.js/100px220?text=3 CTAs" />
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[Why a Charter?]</h2>
      <img class="block__promo block__promo--right" data-src="holder.js/320x320?text=Promo Image" />
      <p>[A charter may seem like an archaic term, but it's a cohesive way of making sure everyone sticks to some basic principles. There are many fantastic organisations across Manchester, and this Charter hopes to unite them under a common strategy so that time and resources can be used most effectively to create change.]</p>
      <p>[We're individuals and organisations to Pledge and support the Charter, and will be [carrying out these activities] to make a difference to homelessness in Manchester]</p>
      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Read more about the Charter</span>
      </a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">When will it launch?</h2>
      <img class="block__promo block__promo--left" data-src="holder.js/320x320?text=Promo Image" />      
      <p>The Charter Launch will take place on 9th May at 2­-4pm at Friend’s Meeting House.</p>
      <p>The Bishop of Manchester will present the event, and Richard Leese will be attending. We expect several hundred attendees.</p>
      <p>There will be a symbolic handing over from the partnership to homeless people on the day, and we will ask people to pledge their support and/or join an action group at the event.</p>
      <p>For more information, please contact charter@streetsupport.net</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[Make a Pledge]</h2>
      <p>[Read the Charter and want to make a Pledge? Pledging the support the Charter will help us put you in touch with other individuals and organisations interested in making change]</p>
      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Make a Pledge</span>
      </a>
      <p>[You can also show your support for the Charter here]</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[How can you help?]</h2>
      <p>[If this page is not part of the Street Support site, some text here about who SS is and how they link with the charter would be good, it's also an opportunity to promote post-pledge activities here]</p>
      <p>Find out what you can do to help people who are homeless:</p>
      <img class="block__promo" data-src="holder.js/100px180?text=4 Give Help CTA's" />
    </div>
  </div>
</div>

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">[Questions about the Charter?]</h2>
      <p>If you have any questions about our Charter as an individual or organisation, please view our Frequently Asked Questions or email John@smith.com</p>
    </div>
  </div>
</div>
