---
title: Manchester Homelessness Charter
description: Find out about the Manchester Homelessness Charter on Street Support.
image: https://charter.streetsupport.net/assets/img/og/manchester-homelessness-charter.png
layout: default.hbs
permalink: false
appName: home
section: charter
page: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item">Charter</li>
    </ol>
  </div>
</div>

<div class="block block--city-header city-header">
  <div class="container container--city-header">
    <h1 class="h1 block__header">Manchester Homelessness Charter</h1>
    <h2 class="h2 block__sub-header">Ending homelessness together</h2>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <p>The Manchester Homelessness Charter is a symbol of our mission to end homelessness in our city by uniting people, organisations and businesses with one shared vision.</p>
      <p>The Charter has been co-created by people experiencing homelessness, and organisations which provide support to overcome their challenges. There are three simple steps for you to follow to help end homelessness...</p>

      <div class="block__cta block__cta--3">
        {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
        {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight block--priority">
  <div class="container">
    <div class="split">
      <div class="split__element">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZLH4KrtvvFw" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="split__element">
        <h2 class="h2">Why a Charter?</h2>
        <p>The Charter is a way to bring together people who are homeless with people who are dedicated to ending homelessness. By uniting us with a shared vision we will focus our efforts to tackle key challenges, and ultimately to end homelessness.</p>
        <a class="btn btn--brand-e" href="/about-the-charter/">
          <span class="btn__text">Read more about the Charter</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="block block--superhero">
  <div class="container">
    <div class="block__content">
      <div class="superhero__image">
        <div class="superhero__container">
          {{>icon name="meetinghall"}}
          <span class="superhero__overlay"></span>
        </div>
      </div>
      <div class="superhero__copy">
        <h2 class="h2 superhero__header block--priority">Latest News</h2>
        <p>The Charter launched on 9th May at Friend's Meeting House.
          Presented by the Bishop of Manchester and attended by people
          who were experiencing homelessness, frontline organisations,
          and city leaders. This was a historic event celebrating the
          commitment of our city's people, organisations and businesses
          to tackling homelessness.</p>
        <p>There are various action groups and open events taking place
          which you can see via the
            <a href="https://teamup.com/ksc7ge5aga5pnjddjp">MHP events calendar</a>.
          You can
          also follow the progress of the charter through our
            <a href="https://news.streetsupport.net/tag/mcr-charter/">news section</a>,
          and see some of the major pledges that have been made in
          the
          <a href="/progress/">progress section</a>. You can subscribe to <a href="http://eepurl.com/dmbeQX" title="Subscribe to MHP updates">MHP updates here</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="block block--highlight block--promo block--pullup">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Make a Pledge</h2>
      <p>Have you read the Charter? Do you want to show your support? Make a pledge to share your skills and resources to help overcome the challenges faced by people who are homeless.</p>
      <p><a class="btn btn--brand-e" href="/pledge-your-support/"><span class="btn__text">Pledge your Support</span></a></p>
    </div>
  </div>
</div>

<div class="block block--promo">
  <div class="container">
    <div class="block__content">
      <h2 class="h2">Feeling inspired?</h2>
      <p>Making a pledge and joining an action group are just two of the ways you can support people who are homeless. Street Support works as part of the Manchester Homelessness Partnership to deliver a central website that makes it easier for people who are homeless to find the help they need, and guides people how to give effectively. Explore <a href="https://streetsupport.net">streetsupport.net</a> to discover other ways to get involved:</p>

      <div class="block__cta block__cta--incopy">
        {{>cta brand="e" link="https://streetsupport.net/give-help/help/" icon="give" name="Help"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/volunteer/" icon="volunteer" name="Volunteer"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/donate/" icon="big-change" name="Donate"}}
        {{>cta brand="e" link="https://streetsupport.net/give-help/partnership/" icon="partnerships" name="Partnership"}}
      </div>

      {{> divider}}

      <h2 class="h2">Got a question?</h2>
      <p>If you have a question about the Charter or the Manchester Homelessness Partnership please read our <a href="/about-the-charter/faqs/">Frequently Asked Questions</a> first. If your question isn’t answered by our Frequently Asked Questions please email <a href="mailto:charter@streetsupport.net">charter@streetsupport.net</a> and we will be in touch shortly.</p>
    </div>
  </div>
</div>
