---
title: Read the Manchester Homelessness Charter
description: Read the Manchester Homelessness Charter - a vision to end homelessness in Manchester.
image: https://charter.streetsupport.net/assets/img/og/manchester-homelessness-charter.png
layout: default.hbs
permalink: false
appName: home
section: charter
page: readthecharter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Read the Charter</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Read the Charter</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block block--pullout">
  <div class="block__primary">
    <div class="container">
    <h2 class="standout">Vision:</h2>
    <h3 class="h1">To end homelessness in Manchester</h3>
    </div>
  </div>

  <div class="block__secondary">
    <div class="container">
      <p>The Manchester Homelessness Partnership calls on the citizens of Manchester, the city council, healthcare and other public sector services, charities, faith groups, businesses, institutions and other organisations to adopt the values of this charter; and to implement it through improved working practices, specific pledges and by working together in new ways.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      {{> charter}}

      {{> divider}}

      <div class="take-action">
        <h2 class="h1 take-action__heading">Take Action</h2>
        <p>Everyone has a role to play in improving outcomes for homeless people. If you wish to adopt the vision and values of the Manchester Homelessness Charter, you should demonstrate your commitment by doing the following:</p>

        <div class="split">
          <div class="split__element take-action__element">
            <h2 class="h2 take-action__element__title">Pledge your support</h2>
            <p class="take-action__element__text">Make a pledge to share your skills or resources for the benefit of people who are homeless.</p>
            {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
          </div>

          <div class="split__element take-action__element">
            <h2 class="h2 take-action__element__title">Join an action group</h2>
            <p class="take-action__element__text">Work in partnership on a priority issue to change how homelessness is tackled in the city.</p>
            {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
          </div>
        </div>
      </div>

      {{> divider}}

      <div class="charter-social">
        <ul class="charter-social__list">
          <li class="charter-social__item">
            <a href="/manchester-homelessness-charter.pdf" target="_blank" rel="noopener noreferrer">
              {{>icon name="downloadAlt" class="charter-social__icon charter-social__icon--download" }}
            </a>
            <h3 class="charter-social__title">Download</h3>
          </li>
          <li class="charter-social__item charter-social__item--share">
            {{> facebookAlt urlToShare="https://charter.streetsupport.net/read-the-charter/" pageTitle="Read the Manchester Homelessness Charter" pageDescription="Read the Manchester Homelessness Charter - a vision to end homelessness in Manchester." }}
            {{> twitterAlt urlToShare="https://charter.streetsupport.net/read-the-charter/" tweet="Read how Manchester is working together to end homelessness with the Homelessness Charter." }}
            <h3 class="charter-social__title">Share</h3>
          </li>
        </ul>
      </div>

      {{> divider}}

      <p>The Manchester Homelessness Charter is a symbol of our mission to end homelessness in our city by uniting people, organisations and businesses with one shared vision. Find out more about the Charter and how it was created:</p>

      <a class="btn btn--brand-d" href="/about-the-charter/faqs/">
        <span class="btn__text">Read about the charter</span>
      </a>
    </div>
  </div>
</div>
