---
title: Read the Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Read the Charter</h2>
      <p>[Some opening text here along lines of 'For more information about why this is important read more about the Charter or email john@smith.com]</p>
    </div>
  </div>
</div>
