---
title: Read the Charter
description: Read the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Manchester Homelessness Charter</h1>
    <h2 class="h2 block__subHeader">Read the Charter</h2>
  </div>
</div>

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Read the Charter</li>
    </ol>
  </div>
</div>

<div class="block block--pullout">
  <div class="block__primary">
    <div class="container">
    <h2 class="standout">Vision:</h2>
    <h3 class="h1">To end homelessness in Manchester</h3>
    </div>
  </div>

  <div class="block__secondary">
    <div class="container">
      <p>The Manchester Homelessness Partnership calls on the citizens of Manchester, the city council, healthcare and other public sector services, charities, faith groups, businesses, institutions and other organisations to adopt the values of this charter; and to implement it through improved working practices, specific pledges and by working together in new ways.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      {{> charter}}

      {{> divider}}

      <h2 class="h2">Take Action</h2>
      <p>Everyone has a role to play in improving outcomes for homeless people. If you wish to adopt the vision and values of the Manchester Homelessness Charter, you should demonstrate your commitment by doing the following:</p>

      <div class="split">
        <div class="split__element">
          <h2 class="h3">Pledge your support</h2>
          <p>Make a pledge to share your skills or resources for the benefit of people who are homeless.</p>
          {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        </div>

        <div class="split__element">
          <h2 class="h3">Join an action group</h2>
          <p>Work in partnership on a priority issue to change how homelessness is tackled in the city.</p>
          {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
        </div>
      </div>

      <div class="charter-social">
        <ul class="charter-social__list">
          <li class="charter-social__item">Download this charter <img data-src="holder.js/44x44?text=Icon" /></li>
          <li class="charter-social__item">Print this charter <img data-src="holder.js/44x44?text=Icon" /></li>
          <li class="charter-social__item">Share this charter <img data-src="holder.js/44x44?text=Icon" /></li>
        </ul>
      </div>

      <p>The Manchester Homelessness Charter has been co-created by people who are homeless in Manchester, and organisations who provide support to overcome the challenges of homelessness.</p>

      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Read our FAQs</span>
      </a>
    </div>
  </div>
</div>
