---
title: Read the Charter
description: Read the Manchester Homelessness Charter
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h1 class="h1" style="text-align: center">Manchester Homelessness Charter</h1>
      <h2 class="h2" style="text-align: center">Read the Charter</h2>

      <div class="breadcrumbs container">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
          <li class="breadcrumbs__item"><a href="/">Charter</a></li>
          <li class="breadcrumbs__item">Read the Charter</li>
        </ol>
      </div>

      <p><strong>Vision:</strong> to put an end to homelessness in Manchester</p>
      <p>The Manchester Homelessness Partnership calls on the citizens of Manchester, the city council, healthcare and other public sector services, charities, faith groups, businesses, institutions and other organisations to adopt the values of this charter; and to implement it through improved working practices, specific pledges and by working together in new ways.</p>
      <h2 class="h2">Values</h2>
      <p>While homelessness remains, this charter provides guiding principles concerning the rights of people who are homeless or at risk of homelessness. We believe that everyone who is homeless should have a right to:</p>
      <ul>
        <li><strong>A safe, secure home</strong> along with an appropriate level of support to create a good quality of life</li>
        <li><strong>Safety</strong> from violence, abuse, theft and discrimination, and the full protection of the law</li>
        <li><strong>Respect</strong> and a good standard of service everywhere</li>
        <li><strong>Equality of access</strong> to information and services</li>
        <li><strong>Equality of opportunity</strong> to employment, training, volunteering, leisure and creative activities</li>
      </ul>
      <p>We believe that those who work with homeless people have a collective responsibility to ensure that:</p>
      <ul>
        <li><strong>Good communication, coordination and a consistent approach</strong> is delivered across all services</li>
        <li><strong>People with experience of homelessness have a voice and involvement</strong> in determining the solutions to their own issues, to homelessness, and in wider society</li>
      </ul>

      <h2 class="h2">Take Action</h2>
      <p>Everyone has a role to play in improving outcomes for homeless people. If you wish to adopt the vision and values of the Manchester Homelessness Charter, you should demonstrate your commitment by doing the following:</p>

      <div class="split" style="margin: 40px 0;">
        <div class="split__element">
          <h2 class="h3" style="margin-top: 0;">Make a pledge specific to your organisation</h2>
          <p>Pledge to share your skills or resources to the benefit of people who are homeless.</p>
          {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        </div>

        <div class="split__element">
          <h2 class="h3" style="margin-top: 0;">Work in partnership</h2>
          <p>Join an Action Group to change how homelessness is tackled in the city. Each action group concentrates on a different priority issue.</p>
          {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
        </div>
      </div>

      <div class="charter-social">
        <ul class="charter-social__list">
          <li class="charter-social__item">Download this charter <img data-src="holder.js/44x44?text=Icon" /></li>
          <li class="charter-social__item">Print this charter <img data-src="holder.js/44x44?text=Icon" /></li>
          <li class="charter-social__item">Share this charter <img data-src="holder.js/44x44?text=Icon" /></li>
        </ul>
      </div>

      <p>The Manchester Homelessness Charter has been co-created by people who are homeless in Manchester, and organisations who provide support to overcome the challenges of homelessness.</p>

      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Read our FAQ's</span>
      </a>
    </div>
  </div>
</div>
