---
title: Read the Charter
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <h2 class="h2">Read the Charter</h2>
      <p>[Some opening text here along lines of 'For more information about why this is important read more about the Charter or email charter@streetsupport.net]</p>
      <h2 class="h2">Manchester Homelessness Charter</h2>
      <p><strong>Vision:</strong> to put an end to homelessness in Manchester</p>
      <p>The Manchester Homelessness Partnership calls on the citizens of Manchester, the city council, healthcare and other public sector services, charities, faith groups, businesses, institutions and other organisations to adopt the values of this charter; and to implement it through improved working practices, specific pledges and by working together in new ways.</p>
      <h2 class="h2">Values</h2>
      <p>While homelessness remains, this charter provides guiding principles concerning the rights of people who are homeless or at risk of homelessness. We believe that everyone who is homeless should have a right to:</p>
      <ul>
        <li>A safe, secure home along with an appropriate level of support to create a good quality of life</li>
        <li>Safety from violence, abuse, theft and discrimination, and the full protection of the law</li>
        <li>Respect and a good standard of service everywhere</li>
        <li>Equality of access to information and services</li>
        <li>Equality of opportunity to employment, training, volunteering, leisure and creative activities</li>
      </ul>
      <p>We believe that those who work with homeless people have a collective responsibility to ensure that:</p>
      <ul>
        <li>Good communication, coordination and a consistent approach is delivered across all services</li>
        <li>People with experience of homelessness have a voice and involvement in determining the solutions to their own issues, to homelessness, and in wider society</li>
      </ul>

      <div class="split" style="margin: 40px 0;">
        <div class="split__element">
          <h2 class="h2" style="margin-top: 0;">Implementation</h2>
          <p>Everyone has a role to play in improving outcomes for homeless people. If you wish to adopt the vision and values of the Manchester Homelessness Charter, you should demonstrate your commitment by doing the following:</p>
          <img class="block__promo" data-src="holder.js/100px200?text=Promo Image" />
        </div>

        <div class="split__element">
          <p><strong>Make a pledge</strong> specific to your organisation. Lists of relevant pledges and help with creating your own are available on the Street Support website</p>
          <p><strong>Work in partnership</strong> by participating in one of the action groups set up around priority issues. These are designed to change how homelessness is tackled in the city</p>
          <p><strong>Display the Manchester Homelessness Charter</strong> once the relevant pledges have been made.</p>
        </div>
      </div>

      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Make a Pledge</span>
      </a>

      <ul>
        <li>Download this charter <img data-src="holder.js/44x44?text=Icon" /></li>
        <li>Print this charter <img data-src="holder.js/44x44?text=Icon" /></li>
        <li>Share this charter <img data-src="holder.js/44x44?text=Icon" /></li>
      </ul>

      <p>This charter was co-created with many of Manchester’s citizens who are currently experiencing homelessness, and with the support of dozens of organisations already working to overcome homelessness in Manchester. Read more about them here</p>

      <h2 class="h2">Support the Charter</h2>
      <img class="block__promo block__promo--left" data-src="holder.js/240x120?text=Promo Image" />
      <p>[Support the Charter by pledging to do something towards these vision and values.]</p>
      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Support the Charter</span>
      </a>

      <h2 class="h2">[Join an Action group]</h2>
      <img class="block__promo block__promo--left" data-src="holder.js/240x120?text=Promo Image" />
      <p>[Find out about action groups working collaboratively on a range of specific issues.]</p>
      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Join an Action group</span>
      </a>

      <br /><br /><br /><br /><br />

      <a class="btn btn--brand-d" href="#">
        <span class="btn__text">Read our FAQ's</span>
      </a>
    </div>
  </div>
</div>
