<li class="nav__item nav__item--hub-nav" data-city="manchester">
  <dl class="hub-nav-container">
    <dt data-city="manchester" class="nav__item nav__item--manchester">
      <a href="https;//streetsupport.net/manchester/" class="nav__item-link nav__item-link--hub-heading">Manchester</a>
    </dt>
    <dd>
      <ul>
        <li data-city="manchester" class="nav__item nav__item--manchester-advice">
          <a href="https;//streetsupport.net/manchester/advice" class="nav__item-link">Advice</a>
        </li>
        <li data-city="manchester" class="nav__item nav__item--partnership">
          <a href="https;//streetsupport.net/manchester/manchester-homelessness-partnership/" class="nav__item-link" title="Manchester Homelessness Partnership">MHP</a>
        </li>
        <li data-city="manchester" class="nav__item nav__item nav__item--charter">
          <a href="" class="nav__item-link nav__item-link--has-sub-nav">Charter</a>
          <ul class="nav__list nav__list--sub-list">
            <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
              <button class="sub-list-back-btn">Back</button>
              <span class="sub-list-text">Charter</span>
            </li>
            <li class="nav__item nav__item nav__item--mobile-only">
              <a href="/">Charter</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--readthecharter">
              <a href="/read-the-charter/">Read the Charter</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--pledgeyoursupport">
              <a href="/pledge-your-support/">Pledge your Support</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--joinactiongroup">
              <a href="/join-action-group/">Action Groups</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--aboutthecharter">
              <a href="/about-the-charter/">About the Charter</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--progress">
              <a href="/progress/">Progress</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--partnershipboard">
              <a href="/partnership-board/">Partnership Board</a>
            </li>
          </ul>
        </li>
        <li data-city="manchester" class="nav__item nav__item--bigchange">
          <a href="https;//streetsupport.net/manchester/bigchangemcr/" class="nav__item-link nav__item-link--has-sub-nav">Big Change</a>
          <ul class="nav__list nav__list--sub-list">
            <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
              <button class="sub-list-back-btn">Back</button>
              <span class="sub-list-text">Big Change</span>
            </li>
            <li class="nav__item nav__item nav__item--mobile-only">
              <a href="https;//streetsupport.net/manchester/bigchangemcr">Big Change</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--bigchangeabout">
              <a href="https;//streetsupport.net/manchester/bigchangemcr/about/">About</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--bigchangepartners">
              <a href="https;//streetsupport.net/manchester/bigchangemcr/partners/">Partners</a>
            </li>
          </ul>
        </li>
        <li data-city="manchester" class="nav__item nav__item--toolkit">
          <a href="https;//streetsupport.net/manchester/standards-toolkit/" class="nav__item-link nav__item-link--has-sub-nav">Standards Toolkit</a>
          <ul class="nav__list nav__list--sub-list">
            <li class="nav__item nav__item nav__item--mobile-only nav__item--sub-list-title">
              <button class="sub-list-back-btn">Back</button>
              <span class="sub-list-text">Standards Toolkit</span>
            </li>
            <li class="nav__item nav__item nav__item--mobile-only">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/">Standards Toolkit</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--awards">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/standards/">Standards</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--benefits">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/benefits/">Benefits</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--training">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/training/">Training</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--apply">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/apply/">Apply</a>
            </li>
            <li class="nav__item nav__item--sub-item nav__item--get-in-touch">
              <a href="https;//streetsupport.net/manchester/standards-toolkit/get-in-touch/">Get in Touch</a>
            </li>
          </ul>
        </li>
      </ul>
    </dd>
  </dl>
</li>