---
title: Manchester Homelessness Action Groups
description: Learn more about the Action Group working collaboratively to end homelessness in Manchester
layout: default.hbs
permalink: false
appName: actionGroups
section: charter
page: actionGroups
---

{{>loading-anim }}

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Action Groups</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Action Groups</h1>
    <p class="h2 block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>
