<p><strong>Vision:</strong> To end homelessness in Manchester</p>
<p>The Manchester Homelessness Partnership calls on the citizens of Manchester, the city council, healthcare and other public sector services, charities, faith groups, businesses, institutions and other organisations to adopt the values of this charter; and to implement it through improved working practices, specific pledges and by working together in new ways.</p>
<h2 class="h2">Values</h2>
<p>While homelessness remains, this charter provides guiding principles concerning the rights of people who are homeless or at risk of homelessness. We believe that everyone who is homeless should have a right to:</p>
<ul>
  <li><strong>A safe, secure home</strong> along with an appropriate level of support to create a good quality of life</li>
  <li><strong>Safety</strong> from violence, abuse, theft and discrimination, and the full protection of the law</li>
  <li><strong>Respect</strong> and a good standard of service everywhere</li>
  <li><strong>Equality of access</strong> to information and services</li>
  <li><strong>Equality of opportunity</strong> to employment, training, volunteering, leisure and creative activities</li>
</ul>
<p>We believe that those who work with homeless people have a collective responsibility to ensure that:</p>
<ul>
  <li><strong>Good communication, coordination and a consistent approach</strong> is delivered across all services</li>
  <li><strong>People with experience of homelessness have a voice and involvement</strong> in determining the solutions to their own issues, to homelessness, and in wider society</li>
</ul>