<nav class="charter-nav">
  <ul class="charter-nav__list">
    <li class="charter-nav__item"><a href="#">Charter</a></li>
    <li class="charter-nav__item"><a href="#">Charter</a></li>
    <li class="charter-nav__item"><a href="#">Charter</a></li>
    <li class="charter-nav__item"><a href="#">Charter</a></li>
    <li class="charter-nav__item"><a href="#">Charter</a></li>            
  </ul>
</nav>
