<nav class="charter-nav">
  <ul class="charter-nav__list">
    <li class="charter-nav__item"><a href="/">Charter Home</a></li>
    <li class="charter-nav__item"><a href="/read-the-charter/">Read the Charter</a></li>
    <li class="charter-nav__item"><a href="/about-the-charter/">About the Charter</a></li>
    <li class="charter-nav__item"><a href="#">Link TBA</a></li>
    <li class="charter-nav__item"><a href="#">Link TBA</a></li>
  </ul>
</nav>
