<a class="btn btn--cta btn--brand-{{brand}}" href="{{link}}">
  <span class="btn__icon">
    {{>icon name=this.icon}}
    <span class="btn__overlay"></span>
  </span>
  <span class="btn__text">{{name}}</span>
</a>
