<div class="sticky">
  <header class="header header--desktop">
    <div class="container">
      <h1 class="h3 header__title" role="banner">
        <a href="https://streetsupport.net">{{>icon name="logo" class="icon"}} <span class="text">Street Support</span></a>
      </h1>
      <nav class="header__nav">
        <ul class="nav__list">
          {{> global-nav }}
        </ul>
      </nav>
    </div>
  </header>
  <nav class="city-nav">
    <ul class="nav__list nav__list--city" data-city="manchester">
      <li class="nav__item nav__item--manchester"><a href="https://streetsupport.net/manchester/">Manchester</a></li>
      {{> manchester-nav }}
    </ul>
  </nav>
</div>
