 <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{urlToShare}}&amp;p[title]={{pageTitle}}&amp;p[summary]={{pageDescription}}">
  {{>icon name="facebook" class="charter-social__icon charter-social__icon--facebook" }}
 </a>
