<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item nav__item--home"><a href="https://streetsupport.net">Home</a></li>
    <li class="nav__item nav__item--find">
    	<a href="https://streetsupport.net/find-help.html">Find Help</a>
    	<ul class="nav__list--sub-list">
    		<li class="nav__item--sub-item"><a href="https://streetsupport.net/all-service-providers.html">All Organisations</a></li>
    	</ul>
    </li>
    <li class="nav__item nav__item--give">
    	<a href="https://streetsupport.net/give-help.html">Give Help</a>
    	<ul class="nav__list--sub-list">
    		<li class="nav__item--sub-item"><a href="https://streetsupport.net/give-items.html">Give</a></li>
    		<li class="nav__item--sub-item"><a href="https://streetsupport.net/volunteer.html">Volunteer</a></li>
    		<li class="nav__item--sub-item"><a href="https://streetsupport.net/donate.html">Donate</a></li>
        <li class="nav__item--sub-item"><a href="https://streetsupport.net/sponsor.html">Partnership</a></li>
    	</ul>
    </li>
    <li class="nav__item nav__item--charter">
      <a href="/">Charter</a>
      <ul class="nav__list--sub-list">
        <li class="nav__item--sub-item"><a href="/read-the-charter/">Read the Charter</a></li>
        <li class="nav__item--sub-item"><a href="/pledge-your-support/">Pledge your Support</a></li>
        <li class="nav__item--sub-item"><a href="/join-action-group/">Join an Action Group</a></li>
        <li class="nav__item--sub-item"><a href="/about-the-charter/">About the Charter</a></li>        
      </ul>
    </li>
    <li class="nav__item nav__item--about"><a href="https://streetsupport.net/about.html">About</a></li>
    <li class="nav__item nav__item--contact"><a href="https://streetsupport.net/contact.html">Contact</a></li>
    <li class="nav__item nav__item--blog"><a href="https://streetsupportnet.wordpress.com/">Blog</a></li>
  </ul>
</nav>
