<nav class="nav__container js-nav-container nav--mobile">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>
  <ul class="nav__list">
    <li class="nav__item"><a href="https://streetsupport.net/">Home</a></li>
    <li class="nav__item nav__item--manchester nav__item--city-specific js-city-nav-item is-active" data-city="manchester">
      <a href="https://streetsupport.net/manchester">Manchester</a>
      <ul class="nav__list nav__list--sub-list">
        <li class="nav__item nav__item--findhelp">
          <a href="https://streetsupport.net/find-help/">Find Help</a>
          <ul class="nav__list nav__list--sub-sub-list">
            <li class="nav__item nav__item--emergencyhelp"><a href="https://streetsupport.net/manchester/emergency-help/">Emergency Help</a></li>
            <li class="nav__item nav__item--allorganisations"><a href="https://streetsupport.net/find-help/all-service-providers/?location=manchester">Organisations</a></li>
          </ul>
        </li>
        <li class="nav__item nav__item--givehelp">
          <a href="https://streetsupport.net/give-help/">Give Help</a>
          <ul class="nav__list nav__list--sub-sub-list">
            <li class="nav__item nav__item--sub-item nav__item--giveitems"><a href="https://streetsupport.net/give-help/help/">Help</a></li>
            <li class="nav__item nav__item--sub-item nav__item--donate"><a href="https://streetsupport.net/give-help/donate/">Donate</a></li>
            <li class="nav__item nav__item--sub-item nav__item--volunteer"><a href="https://streetsupport.net/give-help/volunteer/">Volunteer</a></li>
            <li class="nav__item nav__item--sub-item nav__item--offeritems"><a href="https://streetsupport.net/give-help/offer-items/">Offer Items</a></li>
            <li class="nav__item nav__item--sub-item nav__item--partnership"><a href="https://streetsupport.net/give-help/partnership/">Partnership</a></li>
          </ul>
        </li>
        <li class="nav__item nav__item--charter">
          <a href="https://charter.streetsupport.net/">Charter</a>
          <ul class="nav__list nav__list--sub-sub-list">
            <li class="nav__item nav__item--sub-item nav__item--readthecharter"><a href="/read-the-charter/">Read the Charter</a></li>
            <li class="nav__item nav__item--sub-item nav__item--pledgeyoursupport"><a href="/pledge-your-support/">Pledge your Support</a></li>
            <li class="nav__item nav__item--sub-item nav__item--joinactiongroup"><a href="/join-action-group/">Action Groups</a></li>
            <li class="nav__item nav__item--sub-item nav__item--aboutthecharter"><a href="/about-the-charter/">About the Charter</a></li>
            <li class="nav__item nav__item--sub-item nav__item--progress"><a href="/progress/">Progress</a></li>
          </ul>
        </li>
        <li class="nav__item nav__item--bigchange"><a href="https://streetsupport.net/manchester/bigchangemcr/">Big Change</a></li>
      </ul>
    </li>
    <li class="nav__item nav__item--about"><a href="https://streetsupport.net/about/">About</a></li>
    <li class="nav__item nav__item--news">
      <a href="http://news.streetsupport.net/">News</a>
      <ul class="nav__list nav__list--sub-sub-list">
          <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/stories/">Stories</a></li>
          <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/articles/">Articles</a></li>
          <li class="nav__item nav__item--sub-item"><a href="https://news.streetsupport.net/category/latest-news/">Latest News</a></li>
      </ul>
    </li>
    <li class="nav__item nav__item--contact"><a href="https://streetsupport.net/contact/">Contact Us</a></li>
  </ul>
</nav>
