<a href="https://twitter.com/intent/tweet?url={{urlToShare}}&amp;text={{tweet}}&amp;via={{site.twitterHandle}}">
  {{>icon name="twitter-alt" class="charter-social__icon charter-social__icon--twitter" }}
</a>
