---
title: Error 404
description: Test Description
layout: default.hbs
permalink: false
appName: home
sectionName: charter
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">404</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">404 Error</h2>
    <p class="block__sub-header">Manchester Homelessness Charter</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>This is not the page you were looking for&hellip; Why not:</p>
      <ul class="charter-list-reset">
        <li><a href="/read-the-charter/">Read the Charter</a></li>
        <li><a href="/pledge-your-support/">Pledge your support</a></li>
        <li><a href="/join-action-group/">Join an Action Group</a></li>
      </ul>
    </div>
  </div>
</div>
