---
title: Board Members
description: Membership details for the Partnership Board of the Manchester Homelessness Charter on Street Support
image: https://charter.streetsupport.net/assets/img/og/manchester-homelessness-charter.png
layout: default.hbs
permalink: false
appName: home
section: charter
page: board-members
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="https://streetsupport.net/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/">Charter</a></li>
      <li class="breadcrumbs__item">Partnership Board</li>
    </ol>
  </div>
</div>

<div class="block block--subpage-header">
  <div class="container">
    <h1 class="h1 block__header">Manchester Homeless Partnership Board Members</h1>
    <p class="h2 block__sub-header">Membership Details</p>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
<p>
  Name
  <ul>
    <li>Rt. Rev. David Walker (chair)</li>
    <li>John Organ</li>
    <li>Joanne Wilson</li>
    <li>Mooch Ashley</li>
    <li>Brian Bristow	</li>
    <li>Mark Jepson</li>
    <li>Leon Ascott </li>
    <li>Hazel Summers</li>
    <li>Cllr Paul Andrews</li>
    <li>Fiona Worrall</li>
    <li>Paul Beardmore</li>
    <li>Jacque Allen</li>
    <li>Dr. Julian Skyrme</li>
    <li>Dr. Stephen Bloye</li>
    <li>David Wilson</li>
    <li>Ed Dyson</li>
    <li>Gareth Parkin</li>
    <li>Alex King</li>
    <li>Gabriel Erinle</li>
    <li>Amanda Croome</li>
    <li>John Ryan</li>
  </ul>
</p>

<p>
  Job Role
  <ul>
    <li>Bishop of Manchester, C of E Diocese of Manchester</li>
    <li>Expert by experience: core group member & co-chair of strategy board, ICM</li>
    <li>Expert by experience: volunteer at Booth Centre; co-chair Homelessness Prevention</li>
    <li>Expert by experience: co-chair, Big Change group; outreach volunteer, Riverside</li>
    <li>Expert by experience: co-chair, Arts & Heritage group; volunteer, Booth Centre</li>
    <li>Expert by experience: service user involvement coordinator, ICM</li>
    <li>Expert by experience: participant, Mustard Tree</li>
    <li>Strategic Director, Adult Social Services, MCC</li>
    <li>Executive Member for Adult Health and Wellbeing, MCC</li>
    <li>Director of Neighbourhoods, MCC</li>
    <li>Director of Housing, MCC</li>
    <li>Director of Housing, Wythenshawe Community Housing Group</li>
    <li>Director of Social Responsibility, The University of Manchester</li>
    <li>Assistant Director Facilities, Manchester Metropolitan University</li>
    <li>Station Manager of Manchester Central Community Fire Station</li>
    <li>Deputy Chief Officer of NHS Central Manchester CCG</li>
    <li>Chief Inspector, City of Manchester GMP</li>
    <li>Partnership Director at CityCo</li>
    <li>Operations Director at Spinningfields for Allied London</li>
    <li>CEO, The Booth Centre</li>
    <li>Hub Manager, Shelter</li>
  </ul>
</p>

<p>
  Email
  <ul>
    <li>bishop.david@manchester.anglican.org</li>
    <li>jjrorgan@gmail.com</li>
    <li>joannewilsonmcfc@gmail.com</li>
    <li>moocher1956@gmail.com</li>
    <li>brianbristow06@gmail.com</li>
    <li>Mark_Jepson@shelter.org.uk</li>
    <li>leon123ascott@gmail.com</li>
    <li>h.summers@manchester.gov.uk</li>
    <li>cllr.p.andrews@manchester.gov.uk</li>
    <li>f.worrall@manchester.gov.uk</li>
    <li>P.Beardmore@manchester.gov.uk</li>
    <li>jacque.allen@wchg.org.uk</li>
    <li>julian.skyrme@manchester.ac.uk</li>
    <li>s.bloye@mmu.ac.uk</li>
    <li>WilsonD@manchesterfire.gov.uk</li>
    <li>edward.dyson@nhs.net</li>
    <li>Gareth.Parkin@gmp.police.uk</li>
    <li>Alex.King@cityco.com</li>
    <li>Gabriel.Erinle@alliedlondon.com</li>
    <li>amanda@boothcentre.org.uk</li>
    <li>john_ryan@shelter.org.uk</li>
  </ul>
</p>

<p class="h2 block__sub-header">Regular guests</p>
<p>
  Name
  <ul>
    <li>Jez Green (Facilitator)</li>
    <li>Nicola Rea (Facilitator)</li>
    <li>Nigel Allmark</li>
    <li>Chris O’Leary</li>
  </ul>
</p>

<p>
  Job Role
  <ul>
    <li>Facilitator, Manchester Homelessness Partnership</li>
    <li>Strategic Lead - Homelessness and Migration, MCC</li>
    <li>PhD Student for MHP, Faculty of Health, Psychology & Social Care, MMU</li>
    <li>Supervisor for Nigel, MMU</li>
  </ul>
</p>

<p>
  Email
  <ul>
    <li>jez@mustardtree.co.uk</li>
    <li>nicola.rea@manchester.gov.uk</li>
    <li>nigel.allmark@stu.mmu.ac.uk</li>
    <li>C.oleary@mmu.ac.uk</li>
  </ul>
</p>
        </div>
        <div class="split__element partnership">
          {{>icon name="partnershipLogo" class="partnership__icon" }}
        </div>
      </div>

      <div class="block__cta block__cta--3">
        {{>cta brand="e" link="/read-the-charter/" icon="read" name="Read the <span class=\"line-break\"></span> Charter"}}
        {{>cta brand="e" link="/pledge-your-support/" icon="pledge" name="Pledge your <span class=\"line-break\"></span> Support"}}
        {{>cta brand="e" link="/join-action-group/" icon="join" name="Join an <span class=\"line-break\"></span> Action Group"}}
      </div>
    </div>
  </div>
</div>
